<template>
    <v-app id="app">
        <div class="app-container" style="background:white">
             <HeaderAuthenticated />
                <slot></slot>
             <Footer/>
        </div>
    </v-app>
</template>

<script>
    import Footer from "../components/Footer";
    import HeaderAuthenticated from "../components/header/HeaderAuthenticated"

    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faCog,
    } from '@fortawesome/free-solid-svg-icons'

    library.add(
        faCog,
    );
    export default {
        name: 'app',
        components: {
            Footer,
            HeaderAuthenticated
        },
        data() {
            return {
                headercolor: null,
                sidebarcolor: null
            }
        },
        methods:{
        },
    }
</script>
