<template>
    <div class="app-container app-theme-white">
    <!-- <div class="app-container app-theme-white"> -->
            <slot></slot>
            <Footer/>
    </div>
</template>

<script>
    import Footer from "../components/Footer";
    export default {
        name: 'app',
        components: {
            Footer
        },
        data() {
            return {
                userDetail: null
            }
        },
        methods:{

        },
        created(){
        }
    }
</script>