<template>
    <div>
        <div class="h-100">
            <b-row class="h-100 no-gutters">
                <b-col lg="8" md="12" class="h-100 d-flex bg-white justify-content-center align-items-center">
                    <b-col lg="6" md="8" sm="12" class="mx-auto">
                        <h4>
                            <h1 class="notFoundContainerTitle">{{status}}</h1>
                            <div>{{title}}</div>
                            <router-link :to="{name: navigateToPage}" class="button">{{navigateToText}}</router-link>
                        </h4>
                        <div>
                        </div>
                    </b-col>
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            title: {
                required: true,
                type: String
            },
            status: {
                required: true,
                type: String
            },
            navigateToPage: {
                required: true,
                type: String
            },
            navigateToText: {
                required: true,
                type: String
            }
        }
    }
</script>

<style scoped>
    .notFoundContainerTitle {
        font-size: 128px;
    }
</style>