<template>
    <ErrorView :title="'You are not authorized to visit this page, please request a required role if you need!'"
               :status="'403'"
               :navigateToPage="'Overview'"
               :navigateToText="'Navigate to Main Page'" />
</template>

<script>
    import ErrorView from '../general/ErrorView'
    export default {
        components: {
            ErrorView
        }
    }
</script>

<style scoped>

</style>