<template>
    <ErrorView :title="'You are not authenticated to visit this page, please login'"
               :status="'401'"
               :navigateToPage="'Login'"
               :navigateToText="'Navigate to Login Page'" />
</template>

<script>
    import ErrorView from '../general/ErrorView'
    export default {
        components: {
            ErrorView
        }
    }
</script>

<style scoped>

</style>