<template>
    <v-app class="login-page">
        <HeaderLogin />
        <div class="wrapper">
            <div class="wrapper-bg"></div>
            <div class="content">
                <div class="content-title">
                    <strong><h3>Register to Teamyard</h3></strong>
                </div>
                <img src="../../assets/images/dots.svg" alt="" class="confetti-bg">
                <!-- <img src="../../assets/images/green-organic-bg@3x.png" alt="" class="layer-bg"> -->
                <div class="box">
                    <div class="box-form">
                        <v-form ref="formLogin" v-model="validFormLogin" lazy-validation>
                            
                            <v-container>
                                <loader v-if="isLoading || isConfirmationLoading" />

                                

                                <b-alert v-bind:show="!this.isEmpty(errorMessage)" 
                                    dismissible variant="danger" 
                                    class="alert-text" 
                                    @dismissed="errorMessage=''">
                                    {{errorMessage}}
                                </b-alert>
                                <b-alert v-bind:show="!this.isEmpty(successMessage)" 
                                    dismissible variant="success" 
                                    @dismissed="successMessage=''">
                                    {{successMessage}}
                                </b-alert>
                              
                                <div v-if="showConfirmationMessage">
                                    <b-alert class="my-2"  variant="success" show dismissible>
                                        <span class="confirmation-text"> Thank you for confirming your account! Please login to continue.</span>
                                    </b-alert>
                                </div>

                                <div class="row justify-content-center m-2">
                                    <v-text-field
                                        v-model="firstName"
                                        label="First Name"
                                        placeholder=" "
                                        color="#008FC7"
                                        :rules="[rules.firstName.required]"
                                    ></v-text-field>
                                </div>

                                <div class="row justify-content-center m-2">
                                    <v-text-field
                                        v-model="lastName"
                                        label="Last Name"
                                        placeholder=" "
                                        color="#008FC7"
                                        :rules="[rules.lastName.required]"
                                    ></v-text-field>
                                </div>

                                <div class="row justify-content-center m-2">
                                    <v-text-field
                                        v-model="email"
                                        label="E-mail"
                                        placeholder=" "
                                        color="#008FC7"
                                        :rules="[rules.email.required, rules.email.format]"
                                    ></v-text-field>
                                </div>

                                <div class="row justify-content-center mt-3 ml-2 mr-2">
                                    <v-text-field
                                        v-model="password"
                                        :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                                        :type="showPassword ? 'text' : 'password'"
                                        name="input-10-1"
                                        label="Password"
                                        placeholder=" "
                                        color="#008FC7"
                                        @click:append="showPassword = !showPassword"
                                        :rules="[rules.password.required]"
                                    ></v-text-field>
                                </div>

                                <div class="row justify-content-center mt-5 ml-2 mr-2">
                                    <v-btn @click="onClickRegister" class="loginBtn green" block  size="lg" dark>Register</v-btn>
                                </div>

                                <div class="row justify-content-center mt-2">
                                    <div class="col-12 col-md-12 col-lg-12 text-center">                                                
                                        <b-button 
                                            @click="onClickLoginPage"
                                            class="mr-2 mb-2 border-0 btn-transition forgotPassTxt" 
                                            variant="white">
                                            Login
                                        </b-button>
                                    </div>
                                </div>

                            </v-container>

                        </v-form>
                    </div>
                </div>
            </div>
        </div>
        
    </v-app>
</template>

<script>

import Loader from "../../components/Loader";
import HeaderLogin from "../../layout/components/header/HeaderLogin"
import firebase from 'firebase';

export default {

    components: {
        Loader,
        HeaderLogin,
    },
    
    data: () => ({

        isLoading: false,
        errorMessage: null,
        successMessage: null,
        email: null,
        password: null,
        lastName: null,
        firstName: null,
        showPassword: false,
        validFormLogin: true,
        rules: {
            firstName:{
                required: value => !!value || 'First Name is required',
            },
            lastName:{
                required: value => !!value || 'Last Name is required',
            },
            email: {

                required: value => !!value || 'Email is required',

                format: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    
                    if (value == '' || value == null)
                        return false
                    
                    else
                        return pattern.test(value) || 'Invalid e-mail.'
                }
            },

            password: {
                required: value => !!value || 'Password is required',
            }
        },
        token: null,
        showConfirmationMessage : false,
        isConfirmationLoading: false,
        dismissSecs: 10,
        dismissCountDown: 0,
        showDismissibleAlert: false,
        showServicesList: false,
        countDownChanged: true
    }),

    methods:{
        isEmpty (obj) {
            for (let key in obj) {
                if (obj.hasOwnProperty(key)) {
                return false
                }
            }
            return true
        },

        onClickRegister () {

            this.errorMessage = ''
            
            if (this.$refs.formLogin.validate()) {

                let data = {'email': this.email, 'password': this.password, 'firstName': this.firstName, 'lastName': this.lastName}
                this.isLoading = true
                this.$store
                    .dispatch("auth/signUp", data)
                    .then(async (response) => { 
                        this.successMessage = response;
                        this.isLoading = false
                        this.$$store.dispatch("auth/logout");
                    })
                    .catch(err => {
                        this.isLoading = false
                        this.errorMessage = err;
                    });
            }
        },

        onClickLoginPage () {
            this.$router.push('/auth/login');
        },
    },
    created(){
        firebase.auth().onAuthStateChanged( userAuth => {
            if(userAuth){
                firebase.auth().currentUser.getIdTokenResult()
                .then(tokenResult => {
                    // console.log(tokenResult);
                });
            }
        });
       
    }
}
</script>

<style scoped>

.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00));
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    background: url("../../assets/images/alert@2x.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: Barlow, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

</style>