<template>
    <v-app class="login-page">
        <HeaderLogin />
        <div class="wrapper">
            <div class="wrapper-bg"></div>
            <div class="content">
                <div class="content-title">
                    <strong><h3>Welcome to Teamyard</h3></strong>
                </div>
                <img src="../../assets/images/dots.svg" alt="" class="confetti-bg">
                <div class="box">
                    <div class="box-form">
                        <v-form ref="formLogin" v-model="validFormReset" lazy-validation>
                        
                            <v-container v-if="showResetForm">
                                <loader v-if="isLoading" />
                                
                                <b-alert v-if="errorMessage" v-bind:show="!this.isEmpty(errorMessage)" 
                                    dismissible variant="danger" 
                                    class="alert-text" 
                                    @dismissed="errorMessage='122'">
                                    {{errorMessage}}
                                </b-alert>
                                <b-alert v-if="successMessage" 
                                    dismissible variant="success" 
                                    show
                                    >
                                   {{successMessage}}
                                </b-alert>
                                
                                <div class="row justify-content-center mt-4 ml-2 mr-2">
                                    <v-text-field
                                        v-model="password"
                                        :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                                        :type="showPassword ? 'text' : 'password'"
                                        name="input-10-1"
                                        label="Create Password"
                                        placeholder=" "
                                        color="#008FC7"
                                        @click:append="showPassword = !showPassword"
                                        :rules="[rules.password.required]"
                                    ></v-text-field>
                                </div>

                                <div class="row justify-content-center mt-4 ml-2 mr-2">
                                    <v-text-field
                                        v-model="passwordAgain"
                                        :append-icon="showPasswordAgain ? 'visibility' : 'visibility_off'"
                                        :type="showPasswordAgain ? 'text' : 'password'"
                                        name="input-10-1"
                                        label="Confirm Password"
                                        placeholder=" "
                                        color="#008FC7"
                                        @click:append="showPasswordAgain = !showPasswordAgain"
                                        :rules="[rules.password.required]"
                                    ></v-text-field>
                                </div>

                                <div class="row justify-content-center mt-5 ml-2 mr-2">
                                    <v-btn 
                                        @click="onClickChangePassword" 
                                        class="resetPasswordBtn" 
                                        block color="green" size="lg" 
                                        dark
                                        >Continue
                                    </v-btn>
                                </div>

                            </v-container>   

                            <v-container v-else>
                                <div class="row justify-content-center ml-1 mr-1">
                                    <img class="step-img" src="../../assets/images/check-icon.svg" />
                                </div>
                                <div class="row justify-content-center ml-1 mr-1">
                                    <span class="confirm-title">Successful!</span>
                                </div>
                                <div class="row justify-content-center ml-1 mr-1">
                                    <span class="confirm-description">Your password has been successfuly changed.</span>
                                </div>
                                
                                <div class="row justify-content-center mt-4 ml-2 mr-2">
                                    <v-btn @click="onClickLogin" class="resetPasswordBtn" block color="green" size="lg" dark>Login</v-btn>
                                </div>
                            </v-container>

                        </v-form>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>

<script>

import Loader from "../../components/Loader";
import HeaderLogin from "../../layout/components/header/HeaderLogin"

export default {
    components: {
        Loader,
        HeaderLogin,
    },
    
    data: () => ({
        validFormReset: true,
        isLoading: false,
        errorMessage: '',
        password: null,
        passwordAgain: null,
        showPassword: false,
        showPasswordAgain: false,
        showError: true,

        showResetForm: true,

        rules: {
            password: {
                required: value => !!value || 'Password is required',
            },
        },
        successMessage: '',
    }),

    methods:{

        isEmpty (obj) {
            for (let key in obj) {
                if (obj.hasOwnProperty(key)) {
                return false
                }
            }
            return true
        },

        checkPasswordsMatch() {
            if (this.passwordAgain != this.password){
                this.errorMessage = 'Passwords do not match'
                return false
            }
            else{
                this.errorMessage = ''
                return true
            }
        },

        onClickChangePassword () {

            this.errorMessage = ''
            
            if (this.$refs.formLogin.validate()) {

                if (this.checkPasswordsMatch()) {

                    this.resetPassword()
                }
            }
        },

        checkToken() {

            this.isLoading = true;
            
            this.$store
                .dispatch("auth/validatePasswordResetLink", { token: this.requestId })
                .then((response) => {
                    let responseData = response.data;
                    if (responseData.code === "00" && responseData.status ==='APPROVED') {
                        this.tokenIsValid = true;
                        this.successMessage ='Your email has been verified, thank you.';
                        
                    } else {
                        this.tokenIsValid = false;
                        this.errorMessage = 'Invalid/expired password reset link';
                    }
                    
                    this.isLoading = false;
                })
                .catch(message => {
                    console.log(message);
                    this.errorMessage = 'Invalid/expired password reset link';
                    this.isLoading = false;
                });
        },

        resetPassword() {

            this.isLoading = true;
      
            this.$store
                .dispatch("auth/processPasswordReset", { token: this.requestId, password: this.password , confirmPassword: this.passwordAgain})
                .then((response) => {
                    let responseData = response.data;
                    if (responseData.code === "00" && responseData.status ==='APPROVED') {
                        this.showResetForm = false;
                        this.successMessage = 'The password assignment process has been completed successfully.';
                    } else {
                        this.errorMessage = 'Error occured. Please try again with new password reset link.';
                    }
                    this.isLoading = false;
                })
                .catch(message => {
                    this.errorMessage = 'Error occured. Please try again with new password reset link.';
                    this.isLoading = false;
                });
        },

        onClickLogin () {
            this.$router.push('/auth/login')
        }
        
    },

    created() {
        this.requestId = decodeURIComponent(this.$route.query.token);
        this.checkToken();
    }
}
</script>

<style scoped>

.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00));
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    /* width: 70%; */
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 60px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
    margin-top: 50px;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    background: url("../../assets/images/alert@2x.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: Barlow, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .confirm-title {
    margin: 30px 0 20px;
    font-family: Barlow;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #008FC7;
}

.wrapper .content .box .confirm-description {
    margin: 20px 0 30px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.wrapper .content .box .box-form .reset-pass-title {
    font-family: Barlow;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #008FC7;
}

.wrapper .content .box .box-form .reset-pass-title .title-2 {
    font-weight: bold;
}

.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    cursor: pointer;
}

.wrapper .content .box .box-form .resetPasswordBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}
</style>
