<template>
  <div>
    <div class="mb-2 card"></div>
    <div class="mb-3 content" style="overflow: hidden; text-align: center;margin: 70px auto; width: 1000px;">
     <div @click="gotoDashboard" class="box box-blue">Dashboard</div>
     <div @click="gotoColleages" class="box box-red">Colleages</div>
     <div @click="gotoEvents" class="box box-turkuaz">Events</div>
     <div @click="gotoVenues" class="box box-yellow">Venues</div>
    </div>
    <div class="mb-3 content"></div>
    <div class="card mb-3"></div>
  </div>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import {
  faTrashAlt,
  faCheck,
  faCalendarAlt,
  faAngleDown,
  faAngleUp,
  faTh
} from "@fortawesome/free-solid-svg-icons";

import moment from "moment";

library.add(faTrashAlt, faCheck, faAngleDown, faAngleUp, faTh, faCalendarAlt);

export default {
  name: "Overview",
  components: {},
  computed: {},
  data: () => ({
    formatDate: {
      // Date to String
      stringify: date => {
        return date ? moment(date).format("DD-MM-YYYY") : "";
      },
      // String to Date
      parse: value => {
        return value ? moment(value, "DD-MM-YYYY").toDate() : null;
      }
    },
    isBalanceLoading: false
  }),
  methods: {
    frmtDate(d) {
      const months = this.$refs.datePicker.translation.months;
      return `${d
        .getDate()
        .toString()
        .padStart(2, 0)}  ${months[d.getMonth()]} ${d.getFullYear()}`;
    },
    gotoDashboard(){
        this.$router.push('/dashboard')
    },
    gotoEvents(){
        this.$router.push('/user/events')
    },
    gotoColleages(){
        this.$router.push('/enterprise/invite/panel')
    },
    gotoVenues(){
        this.$router.push('/venues')
    }
  },
  created() {
  }
};
</script>

<style scoped>
.mx-datepicker {
  width: 100% !important;
}
.mx-input {
  border: 1px solid #ccc !important;
}

.box{
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 23px;
  padding: 10px;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
  font-weight:bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.box-red{
  border: 1px solid red;
  color: red;
  border-radius: 5px;
}

 .box-yellow{
  border: 1px solid #F0BA06;
  color: #F0BA06;
  border-radius: 5px;
}

 .box-blue{
  border: 1px solid #008BCA;
  color: #008BCA;
  border-radius: 5px;
}

.box-turkuaz{
  border: 1px solid #21B6B6;
  color: #21B6B6;
  border-radius: 5px;
  background: #bafcfc;
}
</style>
