<template>
    <v-app class="login-page">
        <div class="wrapper">
            <v-container>
                <div class="title-center">
                    <h3 class="wh-p-title mb-5">Transform your workplace with Teamyard </h3>
                    <loader v-if="isLoading"/>
                    <div v-else class="container " style="border:2px solid">
                        <div class="row p-2">
                            <div class="col-lg-3 col-xs-1 "  v-for="plan in plans" :key="plan.id" style="border-right: 2px solid #e4e4e4;">
                                <span class="wh-title mb-1">{{plan.type}} </span> 
                                <span class="p-desc mb-3">{{plan.title}}</span> 
                                <span class="wh-title" v-if="plan.price.amount==0 && plan.type ==='Enterprise'">-</span>
                                <span class="wh-title" v-else> {{plan.price.symbol}} {{plan.price.amount}} / {{plan.price.period}}  </span>
                                 <br>
                                <button lg="4"   @click="goToPreRegister(plan.type, plan.id)" class="btn btn-x btn-primary pb-2 mt-2 mb-4">{{getPlanText(plan)}}</button>
                                <ul class="price" >
                                    <li :key="ac" v-for="ac in plan.description" >{{ac}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </v-container>
        </div>
        
    </v-app>
</template>

<script>
import firebase from 'firebase';
import Loader from '../../components/Loader';
export default {
    components: {
        Loader
    },
    
    data: () => ({
        isLoading: false,
        plans: []
    }),

    methods:{
        goToPreRegister(plan, id){
            if(plan ==='Enterprise'){
                this.$router.push({ path: '/contact-us'});
            }else{
               this.$router.push({ path: '/enterprise/signup', query: { plan: `${plan}-${id}` }});
            }
        },
        getPlanText(plan){
            if(plan.type ==='Enterprise'){
                return 'Contact Sales';
            }

            return 'Get Started'
        }
    },
   created(){
       this.isLoading = true;
       let planRef =  firebase.firestore().collection(`plans`).orderBy('priority', 'asc');
       planRef.onSnapshot( snap => {
           this.plans = [];
           snap.forEach(doc => {
               var plan = doc.data();
               plan.id = doc.id;
               this.plans.push(plan);
               this.isLoading = false;
           });
       });
      
    }
}
</script>

<style scoped>

.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    background: url("../../assets/images/alert@2x.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 40px;
}

.title-center{
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 500;
    width: 100%;
}

.p-desc{
    font-size: 20px;
    color: #000;
    font-family: "HelveticaNeueLt";
    display: block;
}

.wh-title{
    font-family: "HelveticaNeueBd";
    font-size: 25px;
    color: #000;
    font-weight: bold;
    display: block;
}
.whatBorder{
    width: 55%;
    background: #008FC7;
    height: 4px;
}
.wh-p-title{
    font-family: "HelveticaNeueBd";
    font-size: 35px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.line{
    float: right;
    position: absolute;
    top: 61px;
    right: 0;
    width: 5px;
}

ul.price{

}

ul.price li{
    margin-bottom: 9px;
    font-size: 14px;
    font-family: 'Roboto';
}
</style>