<template>
    <v-app class="login-page">
        <div class="wrapper">
            <v-container>
                <div class="title-center">
                   <span class="wh-title">PRIVACY NOTICE</span>
                    <hr class="whatBorder"/>
                        <p class="p-desc mt-4">
                            Thank you for choosing to be part of our community at Teamyard Limited (<b>"Company", "we", "us", "our"</b>). 
                            We are committed to protecting your personal information and your right to privacy. 
                            If you have any questions or concerns about this privacy notice, or our practices with regards to your personal information, 
                            please contact us at <a href="http://www.teamyard.co.uk">http://www.teamyard.co.uk</a>.
                        </p>
                        <p class="p-desc mt-4">
                            When you and more generally, use any of our services (the <b>"Services"</b>, which include the ),
                             we appreciate that you are trusting us with your personal information. 
                             We take your privacy very seriously. In this privacy notice, we seek to explain to you in the clearest way possible what information we collect, 
                             how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. 
                             If there are any terms in this privacy notice that you do not agree with, please discontinue use of our Services immediately.	        
                        </p>
                        <p class="p-desc mt-4">This privacy notice applies to all information collected through our Services 
                            (which, as described above, includes our), as well as, any related services, sales, marketing or events.
                        </p>
                        <strong style="font-size:17px">Please read this privacy notice carefully as it will help you understand what we do with the information that we collect.	</strong> <br> <br>
                        <strong style="font-size:17px" >TABLE OF CONTENTS</strong><br>
                        <ul style="list-style-type:none; font-size:20px;font-family: 'HelveticaNeueLt'">
                            <li>1. WHAT INFORMATION DO WE COLLECT?</li>
                            <li>2. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</li>
                            <li>3. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</li>
                            <li>4. HOW DO WE HANDLE YOUR SOCIAL LOGINS?</li>
                            <li>5. IS YOUR INFORMATION TRANSFERRED INTERNATIONALLY?</li>
                            <li>6. HOW LONG DO WE KEEP YOUR INFORMATION?</li>
                            <li>7. DO WE COLLECT INFORMATION FROM MINORS?</li>
                            <li>8. WHAT ARE YOUR PRIVACY RIGHTS?</li>
                            <li>9. CONTROLS FOR DO-NOT-TRACK FEATURES</li>
                            <li>10. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</li>
                            <li>11. DO WE MAKE UPDATES TO THIS NOTICE?</li>
                            <li>12. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</li>
                            <li>13. HOW CAN YOU REVIEW, UPDATE OR DELETE THE DATA WE COLLECT FROM YOU?</li>
                        </ul> <br>
                        <strong class="sub-title-header">1. WHAT INFORMATION DO WE COLLECT?</strong>	<br> <br>
                        <strong style="font-size:17px">Personal information you disclose to us</strong><br>
                        <span class="p-desc"><strong style="font-size:17px">In Short:</strong> We collect personal information that you provide to us.</span><br>
                        <p class="p-desc mt-4">We collect personal information that you voluntarily provide to us when you register on the express an interest in obtaining information about us or our products and Services, when you participate in activities on the (such as by posting messages in our online forums or entering competitions, contests or giveaways) 
                            or otherwise when you contact us.</p>
                        <p class="p-desc mt-4">The personal information that we collect depends on the context of your interactions with us and the , the choices you make and the products and features you use. The personal information we collect may include the following:	</p>			
                        
                        <p class="p-desc mt-4">
                           <b> Social Media Login Data.</b> We may provide you with the option to register with us using your existing social media account details, like your Facebook, Twitter or other social media account. If you choose to register in this way, we will collect the information described in the section called "HOW DO WE HANDLE YOUR SOCIAL LOGINS?" below.
                            All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.
                        </p>

                        <strong style="font-size:17px">Information automatically collected	</strong>
                        <p class="p-desc mt-4">
                            <b>In Short:</b> Some information — such as your Internet Protocol (IP) address and/or browser and device characteristics 
                            <br/>— is collected automatically when you visit our <a href="http://www.teamyard.co.uk">http://www.teamyard.co.uk</a> website.	
                        </p>
                        <p class="p-desc mt-4">
                            We automatically collect certain information when you visit, use or navigate the . This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our and other technical information. This information is primarily needed to maintain the security and operation of our , and for our internal analytics and reporting purposes.				
                           <br> Like many businesses, we also collect information through cookies and similar technologies
                        </p>

                        <strong class="sub-title-header">2. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</strong> <br>
                        <p class="p-desc mt-4"><b>In Short:</b> We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.</p>
                        <p class="p-desc mt-4">We may process or share your data that we hold based on the following legal basis:
                            More specifically, we may need to process your data or share your personal information in the following situations:
                        </p>
                       <p class="p-desc mt-4">
                           <b> Business Transfers.</b> We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.
                       </p>
                       <p class="p-desc"><b>Affiliates.</b> We may share your information with our affiliates, in which case we will require those affiliates to honor this privacy notice. Affiliates include our parent company and any subsidiaries, joint venture partners or other companies that we control or that are under common control with us.</p>
                       <p class="p-desc mt-4"> <b>Business Partners.</b> We may share your information with our business partners to offer you certain products, services or promotions.</p>
                       <p class="p-desc mt-4"> <b>Other Users.</b> When you share personal information or otherwise interact with public areas of the , such personal information may be viewed by all users and may be publicly made available outside the in perpetuity. If you interact with other users of our and register for our through a social network (such as Facebook), your contacts on the social network will see your name, profile photo, and descriptions of your activity. Similarly, other users will be able to view descriptions of your activity, communicate with you within our , and view your profile.</p>	
                
                        <strong class="sub-title-header">3. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</strong>
                        
                        <p class="p-desc mt-4"> 
                            <b>In Short:</b> We may use cookies and other tracking technologies to collect and store your information. 		
                            We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Notice.	
                        </p>			
                        <strong class="sub-title-header">4. HOW DO WE HANDLE YOUR SOCIAL LOGINS?		</strong>		
                        <p class="p-desc mt-4">
                            <b>In Short:</b> If you choose to register or log in to our services using a social media account, we may have access to certain information about you.
                            Our offers you the ability to register and login using your third-party social media account details (like your Facebook or Twitter logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile information we receive may vary depending on the social media provider concerned, but will often include your name, email address, friends list, profile picture as well as other information you choose to make public on such social media platforms.		
                            We will use the information we receive only for the purposes that are described in this privacy notice or that are otherwise made clear to you on the relevant . Please note that we do not control, and are not responsible for, other uses of your personal information by your third-party social media provider. We recommend that you review their privacy notice to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps.	
                        </p>
                        <strong class="sub-title-header">5. IS YOUR INFORMATION TRANSFERRED INTERNATIONALLY?</strong>
                        
                        <p class="p-desc mt-4">
                           <b> In Short:</b> We may transfer, store, and process your information in countries other than your own.
                            Our servers are located in. If you are accessing our from outside, please be aware that your information may be transferred to, stored, and processed by us in our facilities and by those third parties with whom we may share your personal information (see "WILL YOUR INFORMATION BE SHARED WITH ANYONE?" above), in and other countries.				
                            If you are a resident in the European Economic Area (EEA) or United Kingdom (UK), then these countries may not necessarily have data protection laws or other similar laws as comprehensive as those in your country. We will however take all necessary measures to protect your personal information in accordance with this privacy notice and applicable law.
                        </p>				
                        <strong class="sub-title-header">6. HOW LONG DO WE KEEP YOUR INFORMATION?</strong>				
                        <p class="p-desc mt-4">
                            <b>In Short:</b> We keep your information for as long as necessary to fulfill the purposes outlined in this privacy notice unless otherwise required by law.
                            We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this notice will require us keeping your personal information for longer than 6 months.
                            When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize such information, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.
                        </p>					
                        <strong class="sub-title-header">7. DO WE COLLECT INFORMATION FROM MINORS?</strong>		
                        <p class="p-desc mt-4"> 
                            <b>In Short:</b> We do not knowingly collect data from or market to children under 18 years of age.
                            We do not knowingly solicit data from or market to children under 18 years of age. By using the , you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the . If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we may have collected from children under age 18, please contact us on http://www.teamyard.co.uk.
                        </p>					
                        <strong class="sub-title-header">8. WHAT ARE YOUR PRIVACY RIGHTS?</strong>	
                        <p class="p-desc mt-4">
                           <b> In Short:</b> You may review, change, or terminate your account at any time.	
                            If you are a resident in the EEA or UK and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here: http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.
                            If you are a resident in Switzerland, the contact details for the data protection authorities are available here: https://www.edoeb.admin.ch/edoeb/en/home.html.
                            Account Information				
                            If you would at any time like to review or change the information in your account or terminate your account, you can:
                            Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, we may retain some information in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with applicable legal requirements.			
                            Opting out of email marketing: You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list — however, we may still communicate with you, for example to send you service-related emails that are necessary for the administration and use of your account, to respond to service requests, or for other non-marketing purposes. To otherwise opt-out, you may:
                        </p>		
                        <strong class="sub-title-header">9. CONTROLS FOR DO-NOT-TRACK FEATURES</strong>
                        <p class="p-desc mt-4">
                            Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track ("DNT") feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. At this stage no uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy notice.
                        </p>				
                        <strong class="sub-title-header">10. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</strong>
                        <p class="p-desc mt-4">
                            <b>In Short:</b> Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.
                            California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.					
                            If you are under 18 years of age, reside in California, and have a registered account with , you have the right to request removal of unwanted data that you publicly post on the . To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the , but please be aware that the data may not be completely or comprehensively removed from all our systems (e.g. backups, etc.).
                        </p>
                        <strong class="sub-title-header">11. DO WE MAKE UPDATES TO THIS NOTICE?</strong>
                                            
                        <p class="p-desc mt-4">
                            <b>In Short:</b> Yes, we will update this notice as necessary to stay compliant with relevant laws.		
                            We may update this privacy notice from time to time. The updated version will be indicated by an updated "Revised" date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.
                        </p>				
                        <strong class="sub-title-header">12. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</strong>					
                        <p class="p-desc mt-4">If you have questions or comments about this notice, you may contact us on http://www.teamyard.co.uk</p>
                        <strong class="sub-title-header">13. HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</strong>
                        <p class="p-desc mt-4">
                            Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you, change that information, 
                            or delete it in some circumstances. To request to review, update, or delete your personal information, 
                            please submit a request on <a href="http://www.teamyard.co.uk">http://www.teamyard.co.uk</a>.
                        </p>
                </div>
            </v-container>
        </div>
        
    </v-app>
</template>

<script>

export default {
    components: {},
    data: () => ({
        isLoading: false,
    }),
    methods:{},
    created(){}
}
</script>

<style scoped>

.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    background: url("../../assets/images/alert@2x.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 40px;
}

.title-center2{
    width: 100% !important;
    margin-left: 5%;
    margin-top: 5%;
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.p-desc{
    font-size: 20px;
    color: #000;
    font-family: "HelveticaNeueLt";
}

.wh-title{
    font-family: "HelveticaNeueBd";
    font-size: 25px;
    color: #000;
    font-weight: bold;
}
.whatBorder{
    width: 55%;
    background: #008FC7;
    height: 4px;
}

.title-center a {
    color: #008FC7;
}
.sub-title-header{
    font-size: 21px;
}

</style>