<template>
    <v-app class="login-page">
        <div class="wrapper">
            <v-container>
                <div class="title-center">
                    <span class="wh-title">What is Teamyard?</span>
                    <p class="p-desc mt-4">
                        Teamyard is a platform that provide enterprises with the
                        infrastructure to allow people at work to connect, get more
                        active and engage in more natural ways, with a focus on
                        tackling health wellbeing, loneliness and mental wellness
                        
                    </p> <br>
                    <hr class="whatBorder"/>
                </div>
            </v-container>
        </div>
        
    </v-app>
</template>

<script>

export default {

    components: {
    },
    
    data: () => ({
        isLoading: false,
    }),

    methods:{},
    created(){}
}
</script>

<style scoped>

.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    background: url("../../assets/images/alert@2x.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 40px;
}

.title-center{
    width: 65%;
    margin-left: 5%;
    margin-top: 5%;
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.p-desc{
    font-size: 26px;
    color: #000;
    font-family: "HelveticaNeueLt";
}

.wh-title{
    font-family: "HelveticaNeueBd";
    font-size: 45px;
    color: #000;
    font-weight: bold;
}
.whatBorder{
    width: 55%;
    background: #008FC7;
    height: 4px;
}

</style>