<template>
    <nav class="navbar navbar-expand-md navbar-light" style="margin:20px">
        <a style="float:left" href="/dashboard" class="navbar-brand ml-auto">
            <img src="../../../assets/images/logo.png" height="60" alt="teamyard">
        </a>
        <button type="button" style="float:right" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" @click.stop="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div style="float:right;" class="collapse navbar-collapse mr-auto"  id="navbarSupportedContent" v-bind:class="{ 'show': showCollapse }">
            
            <ul  v-if="authenticatedUser" class="navbar-nav login-section ml-auto d-lg-none">
                <li class="nav-item">
                    <button  style="width:100%" @click="logout"  class="btn btn-green">Sign out</button>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a  href="/dashboard" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a  href="/enterprise/invite/panel" class="nav-link">Colleagues</a>
                </li>
                <li class="nav-item">
                    <a  href="/user/events" class="nav-link">Events</a>
                </li>
                <!-- <li class="nav-item">
                    <a  href="/venues" class="nav-link">Venues</a>
                </li> -->
                <li class="nav-item">
                    <a  href="/contact-us" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a  href="/profile/update" class="nav-link">Edit profile</a>
                </li>
                <li v-if="authenticatedUser" class="nav-item login-section ml-auto d-none d-lg-block">
                    <a  @click="logout"  class="nav-link">Sign out</a>
                </li>
                 <li v-if="authenticatedUser" class="nav-item login-section ml-auto d-none d-lg-block">
                    <img v-if="authenticatedUser.companyLogo" style="width:100px"  :src="authenticatedUser.companyLogo" alt="">
                    <v-avatar
                        v-else
                        color="primary"
                        size="30"
                    ><span class="white--text headline">{{authenticatedUser.displayName.toUpperCase().split('')[0][0]}}{{authenticatedUser.displayName.toUpperCase().split('')[1][0]}}</span></v-avatar>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
export default {
    
    data: () => ({ 
        showCollapse: false,
    }),

    methods: {
        toggleNavbar () {
            this.showCollapse = !this.showCollapse
        },
        logout() {
                this.$store
                .dispatch("auth/logout")
                .then(data => {
                    this.$router.push('/auth/login');
                })
                .catch(() => {});
        }
    },

    created () {},
    computed: {
        authenticatedUser(){
            return JSON.parse(localStorage.getItem('authenticatedUser'));
        }
    }
}
</script>

<style scoped>

.headerItem .nav-link:hover {
  color: #008FC7;
  background-color: transparent;
  text-decoration: underline;
}

.navbar-nav .nav-link{
    color: #1D1E20 !important;
}

.logo {
    width: 80%;
}
.headerItem {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    margin-top: 20px;
}
.headerItem .nav-link{
    color:#008FC7;
    background-color: transparent;
    text-decoration: none;
}
.headerBtn {
    font-size: 16px;
    height: 45px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}
.navbar {
    /* display: flex; */
    /* margin: 20px; */
    /* margin:0 auto; */
}
.app-theme-white.app-container {
    margin:0 20px !important;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar.white {
    background-color: #fff !important;
    transition: background-color 100ms linear;
}
.navbar .navbar-brand img {
    width: 230px;
    height: 60px;
    margin-left: 90px;
}
.navbar .container {
    max-width: none;
    padding: 0 40px;
}
.navbar-nav {
    margin-top:20px;
    margin-left: 80px;
    padding-left: 0;
}
.navbar-nav li {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.navbar-nav .nav-link {
    font-size: 21px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.1 !important;
    letter-spacing: 0.1px !important;
    color: #008FC7;
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #008FC7 !important;
}

.navbar-nav.login-section .nav-link {
    color: #008FC7 !important;
    text-align: center !important;
}

.navbar-nav.login-section button {
    margin-top: -7px;
}

.btn-green {
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}
.btn-green:hover {
    border-color: #008FC7;
    background-color: #008FC7;
    color: #fff;
}

.dropdown-item img {
    width: 30px;
    margin-right: 20px;
}
.dropdown-item a {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #008FC7;
}

.dropdown:hover .dropdown-menu {display: block;}

@media only screen and (max-width: 480px) {
    
    ul {
        margin-left: 0 !important;
    }

    ul li {
        padding: 20px 0 20px 0 !important;
        border-bottom: solid 1px rgba(15, 48, 110, 0.1);
        padding: 0;
    }

    .navbar {
        margin: 10px;
    }

    .navbar .navbar-brand img {
        width: 120px;
        height: 40px;
        margin-left: 0;
    }

    .navbar-nav li {
        margin-left: 0;
        margin-right: 0;
    }
    
    .navbar-nav .nav-link {
        font-size: 20px !important;
        color: #008FC7;
    }

    .navbar-nav .nav-link:hover {
        text-decoration: underline;
        color: #008FC7 !important;
    }

    .login-section button {
        width: 100%;
        font-size: 20px;
    }

    .navbar-collapse {

        width: 100%;

    }
}

@media only screen and (max-width: 768px) {
    .navbar-nav {
        margin-left: 10px;
    }
}

.theme--light.application {
    background: #fff !important;
    color: rgba(0,0,0,0.87);
}


</style>