<template slot-scope="row">
    <v-app>
       <div class="wrapper">
           <v-container>
             <div class="title-center">
                  <h1 class="welcome-message mb-5 center">Welcome to Teamyard</h1>
                  <div class="clearfix">
                        <h3 class="wh-p-title mb-5">Please complete your profile</h3> 

                   </div>
                <v-layout>
                <b-alert
                  v-if="errorMessage || successSaveMessage"
                  :variant="successSaveMessage?'success':'danger'"
                  show
                  dismissible
                >{{errorMessage || successSaveMessage}}</b-alert>
              </v-layout>
              <v-layout>
                <v-flex xs12 md12>
                  <v-text-field
                    v-model="invite.firstName"
                    :rules="nameRules"
                    label="First Name"
                    :disabled="hasAnyRole('EMPLOYE')"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs12 md12>
                  <v-text-field
                    v-model="invite.lastName"
                    label="Last Name"
                    :disabled="hasAnyRole('EMPLOYE')"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout>
                <v-flex xs12 md12>
                  <v-text-field
                    v-model="invite.email"
                    label="Email"
                     :disabled="hasAnyRole('EMPLOYE')"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout>
                <v-flex xs12 md12>
                  <v-text-field
                    v-model="invite.jobTitle"
                    label="Job Title"
                    :disabled="hasAnyRole('EMPLOYE')"
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-layout>
                <v-flex xs12 md12>
                  <v-text-field
                    v-model="invite.officeLocation"
                    :rules="countryRules"
                    label="Office Location"
                    :disabled="hasAnyRole('EMPLOYE')"
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs12 md12>
                    <v-select
                      v-model="invite.department"
                      :items="this.departments"
                      label="Department"
                      style="font-size:18px"
                      item-value="name"
                      item-text="value"
                      :disabled="hasAnyRole('EMPLOYE')"
                      required
                    ></v-select>
                </v-flex>
              </v-layout>

              <v-layout>
                <b-alert
                  v-if="imageError|| successMessage"
                  :variant="successMessage?'success':'danger'"
                  show
                  dismissible
                >{{imageError || successMessage}}</b-alert>
                <v-flex  xs12 md12 style='text-align: center; padding: 10px;'>
                     <input type="file" ref="profileImage"
                      style="display: none"
                      @change="previewImage" accept="image/*" > 
                     uploadValue:  {{uploadValue}}  
                     <button @click="click1" 
                              size="lg" 
                              style="width:250px"
                              class="btn btn-outline-primary pt-2 pb-2 ml-5 pl-4 pr-4">Upload file </button> 
                     <!-- <div v-if="imageData!=null">                     
                       <img width="100" height="100" class="preview" :src="img1">
                        <br>
                     </div>    -->
                </v-flex>
              </v-layout>
             <br>

              <v-layout>
                <v-flex xs12 md12 style='text-align: center; padding: 10px;'>
                  <b-button
                    v-if="hasAnyRole('HR_ADMIN')"
                    variant="primary"
                    style="width:250px"
                    @click="saveInformation"
                    size="lg"
                  >
                    <loader v-if="isLoading" />
                    <span v-else>Save Changes</span>
                  </b-button>
                  <b-button
                    v-else
                    variant="primary"
                    style="width:250px"
                    @click="saveInformation"
                    size="lg"
                    :disabled="!img1"
                  >
                    <loader v-if="isLoading" />
                    <span v-else>Save Changes</span>
                  </b-button>
                </v-flex>
              </v-layout>
             </div>
              
        </v-container>
       </div>
    </v-app>
</template>

<script>
const MAX_SIZE = 100000;
const MAX_WIDTH = 500;
const MAX_HEIGHT = 300;

import Loader from "../../components/Loader";
import { DEPARTMENTS } from '../../store/constants';
import firebase from 'firebase';
export default {
  name: "Information",
  components: {
    Loader
  },
  data() {
    return {
      isLoading: false,
      errorMessage: null,
      successMessage: null,
      successSaveMessage: null,
      departments: DEPARTMENTS,
      autUser : JSON.parse(localStorage.getItem('authenticatedUser')),
      invite:{
            firstName: null,
            lastName: null,
            email: null,
            jobTitle: null,
            officeLocation: null,
            department: null
      },
      valid: false,
      nameRules: [
        v => !!v || "Please enter your Business Name"
      ],
      phoneRules: [
        v => !!v || "Please enter your Business Phone Number",
        v => /^(?:[0-9] ?){6,14}[0-9]$/.test(v) || "Please only use numerical characters"
      ],
      websiteRules: [
        v => !!v || "Please enter your website",
        v => /^((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$/.test(v) || "Url is not valid"
      ],
      countryRules: [
        v => !!v || "Please enter your Registered Business Country",
      ],
      uploadValue: 0,
      caption : '',
      img1: '',
      imageData: null,
      imageError: null
    };
  },
  created() {
    this.getUserDetail();
  },
  computed: {},
  methods: {
    async saveInformation() {
      this.errorMessage = null;
      this.successSaveMessage = null;
      this.isLoading = true;
      let userCollectionId = this.autUser.userCollectionId;
      let companyId = this.autUser.companyId;
      // let completedCompanyInfo = this.autUser.completedCompanyInfo;

      if(this.autUser.roles.includes('HR_ADMIN')){
              await firebase
                .firestore()
                .collection("users")
                .doc(userCollectionId)
                .update(
                  { 
                    jobTitle: this.invite.jobTitle, 
                    department: this.invite.department,
                    officeLocation: this.invite.officeLocation
                  })

              await firebase
                .firestore()
                .collection("company")
                .doc(companyId)
                .update({officeLocation: this.invite.officeLocation })
      }

      await firebase
                .firestore()
                .collection("users")
                .doc(userCollectionId)
                .update(
                  { 
                    photoURL: this.img1
                  })

      
      let authenticatedUser = JSON.parse(localStorage.getItem('authenticatedUser'));
      await firebase.auth().currentUser.updateProfile({photoURL: this.img1})
      this.successSaveMessage = 'Record Successfully';
      this.isLoading = false;
      authenticatedUser.photoURL = this.img1;
      localStorage.setItem('authenticatedUser', JSON.stringify(authenticatedUser))

      // if(!completedCompanyInfo && this.autUser.roles.includes('HR_ADMIN')){
      //   this.$router.push('/enterprise/company-create');
      // }else{
      //   this.$router.push('/dashboard');
      // }

      this.$router.push('/dashboard');
      
    },
    click1() {
      this.$refs.profileImage.click()   
    },
    previewImage(event) {
      this.uploadValue=0;
      this.img1= null;
      this.imageData = event.target.files[0];
      if(!this.imageData || this.imageData.type.indexOf('image/') !== 0) return;

      if(this.imageData.size > MAX_SIZE) {
        this.imageError = `The image size (${this.imageData.size}) is too much (max is ${MAX_SIZE}).`;
        return;
      }

      if(this.imageData.width > MAX_WIDTH) {
          this.imageError = `The image width (${this.imageData.width}) is too much (max is ${MAX_WIDTH}).`;
           return;
       }
    
      if(this.imageData.height > MAX_HEIGHT) {
          this.imageError = `The image height (${this.imageData.height}) is too much (max is ${MAX_HEIGHT}).`;
          return;
      }else{
        this.onUpload()
      } 
    },
    onUpload(){
      this.img1= null;
      const storageRef=firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
      this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
        }, error=>{console.log(error.message)},
      ()=>{this.uploadValue=100;
          storageRef.snapshot.ref.getDownloadURL().then((url)=>{
              this.img1 =url;
              this.successMessage = 'The image uploading is successful'
            });
          }      
        );
    },
    getUserDetail(){
      this.$store
        .dispatch("user/getUserDetail", {})
        .then(() => {
          this.isLoading = false;
          this.invite = this.$store.getters["user/getUserDetail"]
        })
        .catch(() => {
          this.isLoading = false;
        });
    },
    hasAnyRole(...roles) {
      const rolesStr = localStorage.getItem("authenticatedUser");
      const userRoles = JSON.parse(rolesStr).roles;

      let roleFound = false;
      roles.forEach(function(role) {
        const found = userRoles.includes(role);
        if (found) {
          window.console.log("role found :", role);
          roleFound = true;
          return;
        }
      });

      return roleFound;
    }
  }
}
</script>

<style scoped>


.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    /* background: url("../../assets/images/alert@2x.png"); */
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.home-title2{
    color: #000;
    font-weight: bold;
    font-size: 24px;
}
.home-title3{
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

.home-title4{
    color: #A7A6A6;
    font-size: 19px;
}

.title-center{
    width: 65%;
    margin-left: 5%;
    margin-top: 2%;
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.p-desc{
    font-size: 23px;
    color: #000;
    font-family: "HelveticaNeueLt";
    display: block;
}

.wh-p-title{
    font-family: "HelveticaNeueBd";
    font-size: 32px;
    color: #000;
    font-weight: 400;
}

.welcome-message{
  text-align: center;
  font-size: 50px !important;
  font-family: "HelveticaNeueBd";
  font-weight: bold;
}

</style>
