<template>
    <div class="footer-dots">
    </div>
</template>

<script>

    import {library} from '@fortawesome/fontawesome-svg-core'
    import {
        faArrowUp,
        faCog,
    } from '@fortawesome/free-solid-svg-icons'

    library.add(
        faArrowUp,
        faCog,
    );

    export default {
        data: () => ({}),
        methods: {}
    }
</script>

