<template>
    <v-app class="login-page">
        <div class="wrapper">
            <v-container>
                <div class="title-center">
                    <h3 class="wh-p-title mb-5">Choose your interests</h3>
                    <div v-if="autUser">
                        <img style="width:100px" :src="autUser.photoURL" alt="user profile">
                    </div>
                    <loader v-if="isLoading"/>
                    <div v-else class="mt-5">
                         <ul class="activities">
                            <li :key="activity.name" v-for="activity in activities">
                                <b-button @click="selectedActivity(activity)" :pressed="activity.pressed"  class="fullBtn activitiesBtn" block :variant="`outline-primary`">{{activity.name}} </b-button>
                            </li>
                            <li><b-button @click="openModal()" class="fullBtn activitiesBtn" block :variant="`outline-danger`">Suggest Activity</b-button></li>
                        </ul>
                        <div>
                            <b-button
                                variant="primary"
                                style="width:250px; float: right"
                                @click="saveInformation"
                                size="lg">
                                Continue
                            </b-button>
                        </div>
                     </div> 
                     
                </div>
            </v-container>
            <v-dialog v-model="show" width="unset">
                <v-card>
                    <div class="card-header">Suggest activities to be added to Teamyard</div>
                    <div class="card-body">
                        <v-layout>
                            <v-flex xs12 md12>
                                <v-text-field
                                    v-model="activiteSuggestion"
                                    label="Type activity name"
                                    required
                                ></v-text-field>
                                <span v-if="successMessage" style="color: green">{{successMessage}}</span>
                            </v-flex>
                        </v-layout>
                            
                    </div> 
                    <div class="d-block text-right card-footer clearfix">
                        <button  class="btn ml-2 btn-danger btn-lg right" @click="handleOk()">Cancel</button>
                        <button :disabled="!activiteSuggestion" class="btn btn-primary btn-lg right" @click="saveSuggestion()">Continue</button>
                    </div> 
                </v-card>
            </v-dialog>
        </div>
        
    </v-app>
</template>

<script>
import firebase from 'firebase';
import Loader from '../../components/Loader.vue';
export default {
    components: {
        Loader,
    },
    data: () => ({
        isLoading: false,
        errorMessage: null,
        successMessage: null,
        errorMessages: [],
        activities: [],
        selectedActivities: [],
        activiteSuggestion: null,
        user:{},
        show: false,
        autUser : JSON.parse(localStorage.getItem('authenticatedUser')),
    }),

    methods:{
        getActivities(){
            this.isLoading = true;
            this.$store
            .dispatch("user/getActivities", {})
            .then(() => {
                this.isLoading = false;
                this.activities = this.$store.getters["user/getActivities"]
                this.selectedActivities = this.activities.filter(activity => activity.pressed === true);
            })
            .catch(() => {
                this.isLoading = false;
            });
        },
        async selectedActivity(activity){
            if(!this.selectedActivities.includes(activity.id))
                this.selectedActivities.push(activity);
            this.user.activities = this.selectedActivities;
            localStorage.setItem('authenticatedUser', JSON.stringify(this.user));
            let query = await firebase.firestore().collection('users').where('uuid', "==", this.user.uuid).get();
            query.docs[0].ref.update({ activities : this.selectedActivities});
        },
        handleOk() {
            this.show = false;
        },
        openModal(){
            this.show = true;
            this.successMessage=  null;
            this.errorMessage=  null;
            this.activiteSuggestion=null;
        },
        async saveSuggestion(){
           let id = (await firebase.firestore().collection("activities").add(
                { 
                        name: this.activiteSuggestion, 
                        priority:0 , 
                        status: false, 
                        variant: 'danger',
                        whoSuggested: this.user.uuid 
                }
                )
            ).id;


            if(id) {
                this.successMessage = 'Your activity has been submitted, our team will now review it';
            }else {
                this.errorMessage ='Unexcepted error';
            }
        },
        saveInformation(){
            this.user.activities = this.selectedActivities;
            localStorage.setItem('authenticatedUser', JSON.stringify(this.user));
            this.$router.push('/dashboard');
        }
    },
    created(){
        this.user =  JSON.parse(localStorage.getItem('authenticatedUser'));
        this.getActivities();
    },
    watch:{
        selectedActivities: function (values) {
            if(values.length > 0){
                this.activities = this.activities.map( activity => {
                    activity.pressed = values.filter(value => value.id === activity.id).length>0;
                    return activity;
                });
            }
        }
    }
    
}
</script>

<style scoped>

.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    /* background: url("../../assets/images/alert@2x.png"); */
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.home-title2{
    color: #000;
    font-weight: bold;
    font-size: 24px;
}
.home-title3{
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

.home-title4{
    color: #A7A6A6;
    font-size: 19px;
}

.title-center{
    width: 100%;
    /* margin-left: 5%; */
    /* margin-top: 2%; */
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.p-desc{
    font-size: 23px;
    color: #000;
    font-family: "HelveticaNeueLt";
    display: block;
}

.wh-p-title{
    font-family: "HelveticaNeueBd";
    font-size: 35px;
    color: #000;
    font-weight: bold;
}

.fullBtn{
    width: 100%;
}

.activities {
    display: block;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;     /* Get the row full width */
}

.activities li {
    display: inline-block; /* Get all images to show in a row */
    width: 15%;            /* Show 4 logos per row */
    text-align: center;    /* Centre align the images */
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 960px) and (min-width: 501px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 500px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* On small screens, show one logo per row */
}

.activitiesBtn{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid;
}

</style>