<template>
    <v-app class="login-page">
        <div class="wrapper">
            <v-container>
                <div class="title-center">
                    <v-flex xs8 md8>
                        <b-form-input class="basicInput" v-model="user.holderName" placeholder="Card Holder Name"></b-form-input>
                    </v-flex>
                    <v-flex xs8 md8>
                        <stripe-element-card
                            ref="elementRef"
                            :hidePostalCode="hidePostalCode"
                            :pk="publishableKey"
                            @token="tokenCreated"
                            @element-change="setValidationError"
                        />  
                    </v-flex>
                    <v-flex xs8 md8>
                        <b-form-input class="basicInput" v-model="user.location" placeholder="Location"></b-form-input>
                    </v-flex>
                    <v-flex xs8 md8>
                        <div class="mt-5" style="text-align:center">
                            {{hasAnyRole('EMPLOYE')}}
                            <button :disabled="isDisabled" lg="4" @click="submit" class="btn btn-x btn-primary pt-2 pb-2 pl-4 pr-4 mr-2">Confirm </button> 
                            <span v-if="hasAnyRole('EMPLOYE')" style="font-size:17px">or</span>
                            <button v-if="hasAnyRole('EMPLOYE')" lg="4" @click="addLater" class="btn btn-x btn-primary pt-2 pb-2 pl-4 pr-4 ml-2">Add Later </button>
                        </div>
                    </v-flex>
                    
                </div>
            </v-container>
        </div>
        
    </v-app>
</template>

<script>
import { StripeElementCard } from '@vue-stripe/vue-stripe';
import firebase from 'firebase';
export default {
    components: {
        StripeElementCard
    },
    data: () => ({
        isLoading: false,
        errorMessage: null,
        successMessage: null,
        hidePostalCode: true,
        user:{
            holderName: null,
            location: null,
        },
       validFormLogin: true,
       lineItems: [
            {
                price: 'price_1JC8ERIY5Pk3tOD4tBZs8hz8', // The id of the recurring price you created in your Stripe dashboard
                quantity: 1,
            },
        ],
      publishableKey:'pk_test_51I5bk4IY5Pk3tOD4ezS4jjQzznGp2x0yFtMWygl4xRYd1o0yWe3TqB11LZieYoy5ZewDnpWcwNznA7B8jwZGGih800TOVFKW1Z',
      stripe: null,
      stripeValidationError: null,
      amount:25,
    }),
    mounted() {
    },
    methods:{
        pay(){},
        addLater(){
            let authenticatedUser = JSON.parse(localStorage.getItem('authenticatedUser'));
            authenticatedUser.skipPaymentFlow = true;
            localStorage.setItem('authenticatedUser', JSON.stringify(authenticatedUser))
        },
        submit () {
            this.$refs.elementRef.submit();
        },
        tokenCreated (token) {
            console.log(token);
            var stripeObject = {
                amount: this.amount,
                source: token
            };
            // this.saveDataToFireStore(stripeObject);
            this.savePaymentDataToFireStore(stripeObject);
        },
        setValidationError(event) {
            this.stripeValidationError = event.error ? event.error.message : null;
        },
        saveDataToFireStore(stripeObject) {
            const db = firebase.firestore();
            const chargesRef = db.collection("charges");
            const pushId = chargesRef.doc().id;
            db.collection("charges").doc(pushId).set(stripeObject);
            chargesRef.doc(pushId).onSnapshot(snapShot => {
                 const charge = snapShot.data();
                 if (charge.error) {
                    alert(charge.error);
                    chargesRef
                        .doc(pushId)
                        .delete();
                    return;
                 }
                 
                 if (charge.status && charge.status == "succeeded") {
                    alert(charge.status);
                 }
            })
        },
        savePaymentDataToFireStore(stripeObject) {
            let authenticatedUser = JSON.parse(localStorage.getItem('authenticatedUser'));
            authenticatedUser.completedPaymentInfo = true;
            authenticatedUser.skipPaymentFlow = true;
            let companyId = authenticatedUser.companyId;
            const db = firebase.firestore();
            db.collection("company")
            .doc(companyId)
            .update({completedPaymentInfo : true});

            // token ve diger bilgiler burdan gonderilecek

            localStorage.setItem('authenticatedUser', JSON.stringify(authenticatedUser))
            this.$router.push('/dashboard');
        },
        hasAnyRole(...roles) {
            const rolesStr = localStorage.getItem("authenticatedUser");
            const userRoles = JSON.parse(rolesStr).roles;

            let roleFound = false;
            roles.forEach(function (role) {
                const found = userRoles.includes(role);
                if (found) {
                window.console.log("role found :", role);
                roleFound = true;
                return;
                }
            });

            roleFound;
         },
    },
    created(){
    },
    computed:{
        isDisabled(){
            return !this.user.holderName || !this.user.location || this.stripeValidationError;
        }
    }
}
</script>

<style>
.basicInput{
    width: 97% !important;
    margin: 11px !important;
    /* box-shadow: 0 0 5pt 0.6pt #d3d3d3 !important; */
    box-shadow: 0 0 5pt 0.6pt #d3d3d3 !important;
    border: 0 !important;
    color: #32325d;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    height: 37px;
    line-height: 37px;
}
.basicInput:focus {
  box-shadow: 0 0 5pt 2pt #D3D3D3;
  outline-width: 0px;
}

.title-center{
    background: #fff;
    padding: 47px;
}
.StripeElement{
    box-shadow: 0 0 5pt 0.6pt #d3d3d3 !important;
}
#stripe-element-mount-point{
    box-shadow: 0 0 5pt 0.6pt #d3d3d3 !important;
    width: 97% !important;
    margin: 23px 11px 0px 11px !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #32325d;
  opacity: 1; /* Firefox */
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #32325d;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #32325d;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}
</style>