// Vuetify modifiers

.v-input--selection-controls__input {
  margin-top: -5px;
}

.v-input {
  font-size: inherit;
}

.headline {
  font-size: $h4-font-size !important;
}

body .h-100 {
  height: 100vh!important
}