<template>
    <v-app class="login-page">
        <div class="wrapper">
            <v-container>
                <div class="title-center">
                   <div class="clearfix">
                        <h3 class="wh-p-title mb-5 left">Invite colleagues</h3>
                          <router-link
                                to="/enterprise/invite/panel"
                                class="btn mb-2 mr-2 btn-icon btn-icon-only btn-shadow btn-outline-2x btn-link close"
                                tag="button"
                                ><i class="btn-icon-wrapper lnr-cross"></i
                            ></router-link>
                   </div>

                    <loader v-if="isLoading" />
                    <b-alert v-bind:show="!this.isEmpty(errorMessage)" 
                        dismissible variant="danger" 
                        class="alert-text" 
                        @dismissed="errorMessage=''">
                        {{errorMessage}}
                    </b-alert>

                    <b-alert v-bind:show="!this.isEmpty(successMessage)" 
                        dismissible variant="success" 
                        @dismissed="successMessage=''">
                        {{successMessage}}
                    </b-alert>

                    <div class="row justify-content-center m-2">
                        <v-text-field
                             v-model="invite.firstName"
                             label="First Name"
                             placeholder=""
                             :rules="[rules.firstName.required]"
                             color="#008FC7"
                        ></v-text-field>
                    </div>
                    <div class="row justify-content-center m-2">
                        <v-text-field
                             v-model="invite.lastName"
                             label="Last Name"
                             placeholder=" "
                             color="#008FC7"
                             :rules="[rules.lastName.required]"
                        ></v-text-field>
                    </div>

                    <div class="row justify-content-center m-2">
                        <v-text-field
                            v-model="invite.email"
                            label="Email Address"
                            placeholder=" "
                            color="#008FC7"
                            :rules="[rules.email.required]"
                        ></v-text-field>
                    </div>

                    <div class="row justify-content-center m-2">
                        <v-text-field
                            v-model="invite.jobTitle"
                            label="Job Title"
                            placeholder=" "
                            color="#008FC7"
                            :rules="[rules.jobTitle.required]"
                        ></v-text-field>
                    </div>

                     <div class="row justify-content-center m-2">
                        <v-text-field
                            v-model="invite.officeLocation"
                            label="Office Location"
                            placeholder=" "
                            color="#008FC7"
                            :rules="[rules.officeLocation.required]"
                        ></v-text-field>
                    </div>
                     <div class="row justify-content-center m-2">
                         <v-select
                            v-model="invite.department"
                            :items="this.departments"
                            label="Department"
                            item-value="name"
                            item-text="value"
                            required
                            ></v-select>
                    </div>
                    
                    <div class="mt-5" style="text-align:center">
                          <button lg="4" @click="sentInvite" :disabled="!isSend"   class="btn btn-x btn-primary pt-2 pb-2 pl-4 pr-4">Send Invite </button>
                     </div>
                </div>
            </v-container>
        </div>
        
    </v-app>
</template>

<script>
import { DEPARTMENTS } from '../../../store/constants';
import Loader from '../../../components/Loader';
export default {

    components: {
        Loader
    },
    
    data: () => ({
        isLoading: false,
        errorMessage: null,
        successMessage: null,
        departments: DEPARTMENTS,
        invite:{
            firstName: null,
            lastName: null,
            email: null,
            jobTitle: null,
            officeLocation: null,
            department: null
        },
        validFormLogin: true,
        rules: {
            firstName: {
                required: value => !!value || 'FirstName is required',
            },
            lastName: {
                required: value => !!value || 'LastName is required',
            },
           email: {

                required: value => !!value || 'Email is required',

                format: value => {
                    const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    
                    if (value == '' || value == null)
                        return false
                    
                    else
                        return pattern.test(value) || 'Invalid e-mail.'
                }
            },
            officeLocation: {
                required: value => !!value || 'Office Location is required',
            },
            jobTitle: {
                required: value => !!value || 'Job Title is required',
            },
            department: {
                required: value => !!value || 'Department is required',
            }
        },
    }),

    methods:{
        isEmpty (obj) {
            for (let key in obj) {
                if (obj.hasOwnProperty(key)) {
                return false
                }
            }
            return true
        },
        sentInvite(){
             this.errorMessage = ''
                this.isLoading = true
                this.$store
                    .dispatch("auth/manuelInvite", this.invite)
                    .then(async (response) => { 
                        this.successMessage = response;
                        this.isLoading = false
                        // this.$store.dispatch("auth/logout");
                        this.$router.push('/dashboard');
                        this.clear();
                    })
                    .catch(err => {
                        this.isLoading = false
                        this.errorMessage = err;
                    });
        },
        clear(){
            this.invite = { 
                firstName: null,
                lastName: null,
                email: null,
                jobTitle: null,
                officeLocation: null,
                department: null
            }
        }
    },
    created(){},
    computed:{

        isSend(){
            return this.invite.firstName && this.invite.lastName && this.invite.email && this.invite.jobTitle  && this.invite.officeLocation  && this.invite.department;
        }
    }
}
</script>

<style scoped>

.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    /* background: url("../../assets/images/alert@2x.png"); */
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.home-title2{
    color: #000;
    font-weight: bold;
    font-size: 24px;
}
.home-title3{
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

.home-title4{
    color: #A7A6A6;
    font-size: 19px;
}

.title-center{
    width: 65%;
    margin-left: 5%;
    margin-top: 2%;
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.p-desc{
    font-size: 23px;
    color: #000;
    font-family: "HelveticaNeueLt";
    display: block;
}

.wh-p-title{
    font-family: "HelveticaNeueBd";
    font-size: 35px;
    color: #000;
    font-weight: bold;
}

</style>