<template>
    <v-app class="login-page">
        <div class="wrapper">
            <v-container>
                <div class="title-center">
                    <h3 class="wh-p-title mb-5">You have no current events yet, invite colleagues to Teamyard</h3>
                    <div class="mt-5" style="text-align:center">
                          <v-btn lg="4" @click="manuelInvite"   color="primary">
                              <v-icon dark class="mr-2">pe-7s-next-2</v-icon>
                              Manuel invite  
                          </v-btn>
                          <input ref="fileUpload" type="file" hidden  @change="previewFiles" accept=".csv,xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                          <v-btn lg="4" @click="uploadExcelFile" color="primary">
                              <v-icon dark class="mr-2">pe-7s-upload</v-icon>
                              Upload file 
                          </v-btn> <br>
                          <br>
                          <v-btn @click="downloadTemplate" class="mr-2 mb-2 btn-icon" >
                                <v-icon dark class="mr-2"> pe-7s-cloud-upload</v-icon>
                                Download template
                            </v-btn>
                     </div> <br>
                      <loader v-if="isLoading" />
                      <div v-else>
                           <Colleagues v-if="!isLoading && users.length>0" :users="users" />
                           <NotFound v-else/>
                      </div>
                     
                    <div class="divider"></div>
                </div>
            </v-container>
        </div>
        
    </v-app>
</template>

<script>
import XLSX from 'xlsx';
import firebase from 'firebase';
import Colleagues from '../invite/Colleagues';
import Loader from '../../../components/Loader.vue';
import NotFound from "../../../layout/components/NotFound.vue";
export default {
    components: {
        Colleagues,
        Loader,
        NotFound
    },
    
    data: () => ({
        isLoading: false,
        errorMessage: null,
        errorMessages: [],
        user:{},
        users:[],
    }),

    methods:{
        downloadTemplate(){
            window.open('/files/template.xlsx', '_blank');
        },
        manuelInvite(){
               this.$router.push('/enterprise/invite/');
        },
        uploadExcelFile(){
          let fileInputElement = this.$refs.fileUpload;
          fileInputElement.click();
        },
        async previewFiles(e) {
          e.preventDefault();
          this.users = [];
          var files = e.target.files;
          var f = files[0];
          var reader = new FileReader();
          reader.onload =  evt => {
            var data = new Uint8Array(evt.target.result);
            var workbook = XLSX.read(data, {type: 'array'});
            let sheetName = workbook.SheetNames[0]
            let worksheet = workbook.Sheets[sheetName];
            let json =  XLSX.utils.sheet_to_json(worksheet);
            // this.users =json;
            json.forEach(user => {
                this.sentInvite(user)
            });
            
          }
          reader.readAsArrayBuffer(f);
          await this.getUsers();
          this.$refs.fileUpload.value = null;
       },
       sentInvite(user){
                this.errorMessage = ''
                this.isLoading = true
                this.$store
                    .dispatch("auth/manuelInvite", user)
                    .then(async (response) => { 
                        this.successMessage = response;
                        this.isLoading = false
                    })
                    .catch(err => {
                        this.isLoading = false
                        this.errorMessage = err;
                        this.errorMessages.push({ email: user.email, error: err.message});
                    });
        },
        async getUsers(){
            this.isLoading = true;
            this.user =  JSON.parse(localStorage.getItem('authenticatedUser'));
            let authenticatedUser = JSON.parse(localStorage.getItem('authenticatedUser'));
            const companyId = authenticatedUser.companyId;
            let users = [];
            let companyUserSnap = await firebase
            .firestore()
            .collection("company_user")
            .where("companyId", "==", companyId)
            .get();

            let companyUsers = companyUserSnap.docs.map( doc => doc.data())
            companyUsers.forEach(async companyUser => {
                let user = (await firebase.firestore().collection("users").where("uuid", "==", companyUser.userId).get()).docs[0].data();
                users.push(user);
            });

            this.isLoading =false;
            this.users = users;
        }
    },
    async created(){
         this.getUsers();
    },
    watch:{
        errorMessages: function (value) {
            if(value.length>0){
                let users = [];
                this.users.forEach(user => {
                    let withUserError = value.filter(error => error.email === user.email)[0];
                    if(withUserError){
                        user.error = withUserError.error;
                    }
                    users.push(user);
                });
                this.users = users;
            }
        }
    }
}
</script>

<style scoped>

.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    /* background: url("../../assets/images/alert@2x.png"); */
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.home-title2{
    color: #000;
    font-weight: bold;
    font-size: 24px;
}
.home-title3{
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

.home-title4{
    color: #A7A6A6;
    font-size: 19px;
}

.title-center{
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.p-desc{
    font-size: 23px;
    color: #000;
    font-family: "HelveticaNeueLt";
    display: block;
}

.wh-p-title{
    font-family: "HelveticaNeueBd";
    font-size: 35px;
    color: #000;
    font-weight: bold;
}

</style>