<template>
  <v-footer height="auto" color="default">
    <v-layout justify-center row wrap>
      <div pa-3 text-xs-center gray--text xs12>
        <!-- &copy; Copyright {{ new Date().getFullYear() }}.<strong> Teamyard Limited. All rights reserved.</strong> -->
        <ul class="footer-menu-link">
          <li>
            <a href="/cookie-policy">Cookie Privacy</a> |
          </li>
          <li>
            <a href="/privacy-terms">Privacy </a> |
          </li>
          <li>
            <a href="/term-of-use">Term of Use </a> |
          </li>
          <li>
            <a href="/contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
    </v-layout>
  </v-footer>
</template>

<script>
  export default {
    data: () => ({
      
    })
  }
</script>
<style scoped>
ul.footer-menu-link{
  list-style-type: none;
}

ul.footer-menu-link li{
  float:left;
  margin-left: 10px;
  font-size: 16px;
}

ul.footer-menu-link li a {
  color: #1D1E20;
}

ul.footer-menu-link li a:hover {
  color: #1D1E20;
}
</style>
