<template>
  <div class="not-found-text">
    <i  class="header-icon pe-7s-search"></i> <br/>
    <span>{{message}}</span>
  </div>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { faEllipsisV } from "@fortawesome/free-solid-svg-icons";

library.add(faEllipsisV);
export default {
  name: "NotFound",
  props: {
    message: {
      type: String,
      default: "No Records Found"
    }
  }
};
</script>

<style scoped>
.header-icon{
    font-size: 30px
}
.not-found-text {
  text-align: center;
}
span {
  font-size: 20px;
}
</style>>
