<template>
  <div
    :class="sidebarbg"
    class="app-sidebar sidebar-shadow"
    @mouseover="toggleSidebarHover('add','closed-sidebar-open')"
    @mouseleave="toggleSidebarHover('remove','closed-sidebar-open')"
  >
    <div class="app-header__logo">
      <a  href="/" class="logo-src"></a>
      <div class="header__pane ml-auto">
        <div class="app-header__mobile-menu">
          <div>
            <button
              type="button"
              class="hamburger close-sidebar-btn hamburger--elastic"
              v-bind:class="{ 'is-active' : true }"
              @click="toggleMobile('closed-sidebar-open')"
            >
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
        <button
          type="button"
          class="hamburger close-sidebar-btn hamburger--elastic"
          v-bind:class="{ 'is-active' : isOpen }"
          @click="toggleBodyClass('closed-sidebar')"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div class="app-sidebar-content">
      <!-- <VuePerfectScrollbar class="app-sidebar-scroll" v-once>
        <sidebar-menu showOneChild :menu="filterMenu(menu)" />
      </VuePerfectScrollbar> -->
    </div>
  </div>
</template>

<script>
// import { SidebarMenu } from "vue-sidebar-menu";
// import VuePerfectScrollbar from "vue-perfect-scrollbar";

export default {
  components: {
    // SidebarMenu,
    // VuePerfectScrollbar
  },
  data() {
    return {
      isOpen: false,
      sidebarActive: false,

      menu: [
        {
          header: true,
          title: " "
        },
        {
          title: "Dashboard",
          icon: "pe-7s-graph1",
          href: "/"
        },
        {
          title: "Users",
          icon: "pe-7s-user",
          href: "/users",
          roles: ['HR_ADMIN']
        },
        {
          title: "Invite",
          icon: "pe-7s-user",
          href: "/enterprise/invite/panel",
          roles: ['HR_ADMIN','EMPLOYE']
        },
        {
          title: "Account Settings",
          icon: "pe-7s-users",
          roles: ['HR_ADMIN']
          // child:[
          //    {
          //     title: "Merchant Information ",
          //     href: "/information",
          //    },
          // ]
        },
      ],
      collapsed: true,

      windowWidth: 0
    };
  },
  props: {
    sidebarbg: String
  },
  methods: {
    filterMenu(menu) {
      const rolesStr = localStorage.getItem('authenticatedUser');
      // if(rolesStr){
         const userRoles = JSON.parse(rolesStr).roles;
         var filteredMenu = [];
         menu.forEach(function(element){
            if (element.hasOwnProperty("roles")) {
                const found = element.roles.some(r=> userRoles.includes(r));
                if(found) {
                  filteredMenu.push(element);
                }
              } else {
                let subMenus = element.child;
                if(subMenus){
                  let subFilteredMenu = [];
                  subMenus.forEach(subMenu => {
                    if (subMenu.hasOwnProperty("roles")) {
                        const found = subMenu.roles.some(r=> userRoles.includes(r));
                        if(found){
                          subFilteredMenu.push(subMenu);
                        }
                    }else{
                      subFilteredMenu.push(subMenu)
                    }
                  });

                  element.child = subFilteredMenu;
                  filteredMenu.push(element);
                }else{
                  filteredMenu.push(element);
                }
              }
        });

        return filteredMenu;
    },
    toggleBodyClass(className) {
      const el = document.body;
      this.isOpen = !this.isOpen;

      if (this.isOpen) {
        el.classList.add(className);
      } else {
        el.classList.remove(className);
      }

      this.toggleSidebarHover('remove','closed-sidebar-open');
      
    },
    toggleSidebarHover(add, className) {
      const el = document.body;
      this.sidebarActive = !this.sidebarActive;

      this.windowWidth = document.documentElement.clientWidth;

      if (this.windowWidth > "992") {
        if (add === "add") {
          el.classList.add(className);
        } else {
          el.classList.remove(className);
        }
      }
    },
    getWindowWidth() {
      const el = document.body;
      this.windowWidth = document.documentElement.clientWidth;

      if (this.windowWidth < "1350") {
        el.classList.add("closed-sidebar", "closed-sidebar-md");
      } else {
        el.classList.remove("closed-sidebar", "closed-sidebar-md");
      }
    }
  },
  mounted() {
    this.$nextTick(function() {
      window.addEventListener("resize", this.getWindowWidth);
      //Init
      this.getWindowWidth();
    });
  },

  beforeDestroy() {
    window.removeEventListener("resize", this.getWindowWidth);
  }
};
</script>
