<template>
    <div id="app">
        <component :is="layout">
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
        </component>
    </div>
</template>

<script>
    const default_layout = "auth";

    export default {
        name: 'app',
        computed: {
            layout() {
                return (this.$route.meta.layout || default_layout) + '-layout';
            },
        }
    }
</script>

<style lang="scss">
    @import "assets/base.scss";

    @font-face {
        font-family: "Barlow";
        src: local("Barlow"),
        url("./fonts/Barlow/Barlow-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "Roboto";
        src: local("Roboto"),
        url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "HelveticaNeu";
        src: local("HelveticaNeu"),
        url("./fonts/helvetica-neu/HelveticaNeue.ttf") format("truetype");
    }

    @font-face {
        font-family: "HelveticaNeueLt";
        src: local("HelveticaNeueLt"),
        url("./fonts/helvetica-neu/HelveticaNeueLt.ttf") format("truetype");
    }

    @font-face {
        font-family: "HelveticaNeueBd";
        src: local("HelveticaNeueBd"),
        url("./fonts/helvetica-neu/HelveticaNeue Medium.ttf") format("truetype");
    }
</style>
