<template>
    <v-app class="login-page">
        <div class="wrapper">
          <v-container>
              <b-row>
                    <b-col col sm="12" lg="12">
                        <div class="title-center">
                            <h3 v-if="this.event" class="wh-p-title mb-3">{{this.event.name}}</h3>
                            <!-- <img style="width:100%" src="../../assets/images/go-karting-bg.png" alt=""> -->
                            <img style="width:100%" :src="event.veneus.photoURL" :alt="this.event.name">
                        </div>
                        <br>
                    </b-col>
                </b-row>
              <b-row>
                    <b-col col sm="12" lg="12">
                        <div class="title-center">
                            <loader v-if="isLoading" />
                            <b-alert v-bind:show="!this.isEmpty(errorMessage)" 
                                dismissible variant="danger" 
                                class="alert-text" 
                                @dismissed="errorMessage=''">
                                {{errorMessage}}
                            </b-alert>

                            <b-alert v-bind:show="!this.isEmpty(successMessage)" 
                                dismissible variant="success" 
                                @dismissed="successMessage=''">
                                {{successMessage}}
                            </b-alert>

                            <div class="row justify-content-center m-2">
                                <v-text-field
                                    v-model="event.location"
                                    label=""
                                    placeholder="Where"
                                    :rules="[rules.location.required]"
                                    solo
                                    color="#008FC7"
                                ></v-text-field>
                            </div>
                            <br>
                            <div class="row justify-content-center m-2">
                                <v-flex lg9 xs12 sm12 md9>
                                    <v-dialog
                                        ref="dialog"
                                        v-model="modal"
                                        :return-value.sync="event.date"
                                        persistent
                                        lazy
                                        full-width
                                        width="290px"
                                    >
                                        <template v-slot:activator="{ on }">
                                        <v-text-field
                                            v-model="event.date"
                                            label=""
                                            placeholder="When"
                                            prepend-inner-icon="event"
                                            readonly
                                            v-on="on"
                                            solo
                                        ></v-text-field>
                                        </template>
                                        <v-date-picker v-model="event.date" scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>
                                        <v-btn flat color="primary" @click="$refs.dialog.save(event.date)">OK</v-btn>
                                        </v-date-picker>
                                    </v-dialog>
                                </v-flex>

                                <v-flex lg3 xs12 sm12>
                                    <v-menu
                                        ref="menu"
                                        v-model="menu2"
                                        :close-on-content-click="false"
                                        :nudge-right="40"
                                        :return-value.sync="event.hour"
                                        lazy
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        max-width="290px"
                                        min-width="290px"
                                    >
                                        <template v-slot:activator="{ on }">
                                            <v-text-field
                                                v-model="event.hour"
                                                label=""
                                                placeholder="Hour"
                                                prepend-inner-icon="access_time"
                                                solo
                                                readonly
                                                class="ml-lg-2"
                                                v-on="on"
                                            ></v-text-field>    
                                        </template>
                                        <v-time-picker
                                            v-if="menu2"
                                            v-model="event.hour"
                                            full-width
                                            @click:minute="$refs.menu.save(event.hour)"
                                        ></v-time-picker>
                                    </v-menu>
                                    </v-flex>   
                                    
                               
                            </div>
                            <br>
                            <div class="row justify-content-center m-2">
                                <v-text-field
                                    v-model="event.amount"
                                    prepend-inner-icon="money"
                                    label=""
                                    type="number" 
                                    placeholder="Cost per person"
                                    color="#008FC7"
                                    :rules="[rules.amount.required]"
                                    solo
                                ></v-text-field>
                            </div>
                            <br>
                            <div class="row justify-content-center m-2">
                                <v-text-field
                                    v-model="event.attendeeCount"
                                    type="number" 
                                    max="20"
                                    solo
                                    label="Going"
                                    placeholder="How many attendees can go to this event? "
                                    color="#008FC7"
                                    :rules="[rules.attendeeCount.required]"
                                ></v-text-field>
                            </div>
                            <br>
                            <div class="" >
                                <h3 class="wh-p-title mb-3">Search and invite colleagues:</h3> <br>
                                <div>
                                    <v-card>
                                        <v-container
                                        fluid
                                        grid-list-md
                                        >
                                        <div style="overflow:hide">
                                            <input v-model="userSearch"  class="autocomplete" placeholder="Search" />
                                            <v-btn  @click="filterUsers" class="btn-y" color="primary">Search</v-btn>
                                        </div>
                                        <v-layout row wrap v-if="users.length>0">
                                            <v-flex
                                            v-for="user in users"
                                            :key="user.title"
                                            class="xs12 lg3"
                                            >
                                             <input class="m-1" @input="selectedUser(user)" type="checkbox" >
                                            <v-card class="mr-2" >

                                                <v-img
                                                    :src="user.src"
                                                    class="mb-1"
                                                    height="18rem"
                                                />
                                                <span class="text-center  mt-3 mb-1"><strong style="font-size:19px;display:block">{{user.displayName}}</strong></span>
                                                <span class="text-center"  style="font-size:13px;display:block">{{user.department}}</span>
                                                <v-card-actions class="text-center justify-content-center"> 
                                                    <v-spacer></v-spacer>
                                                    <span class="mr-2">{{user.officeLocation}}</span>
                                                </v-card-actions>
                                            </v-card>
                                            </v-flex>
                                        </v-layout>
                                         <NotFound v-else/>
                                        </v-container>
                                    </v-card>
                                </div>
                                  
                                
                            </div>
                           

                            
                        </div>
                    </b-col>
              </b-row>
            </v-container>
       
        </div>
        
    </v-app>
</template>

<script>
import NotFound from "../../layout/components/NotFound.vue";
import Loader from '../../components/Loader.vue';
import firebase from 'firebase';
export default {
    components: {Loader, NotFound},
    data: () => ({
        userSearch: null,
        isLoading: false,
        errorMessage: null,
        successMessage: null,
        menu2: false,
        modal: false,
        menu: false,
        event:{
            name: null,
            amount: null,
            date: null,
            hour: null,
            location: null,
            attendeeCount: null,
            user: []
        },
        rules: {
            amount: {
                required: value => !!value || 'Amount is required',
            },

            date: {
                required: value => !!value || 'Date is required',
            },
            location: {
                required: value => !!value || 'Please enter event location',
            },
            attendeeCount: {
                required: value => !!value || 'Please enter event attendees',
            }
        },
        robot: false,
        users: [],
    }),

    methods:{
       async getUsers(){
           let authenticatedUser = JSON.parse(localStorage.getItem('authenticatedUser'));
            const companyId = authenticatedUser.companyId;
            let users = [];
            let companyUserSnap = await firebase
            .firestore()
            .collection("company_user")
            .where("companyId", "==", companyId)
            .get();

            let companyUsers = companyUserSnap.docs.map( doc => doc.data())
            companyUsers.forEach(async companyUser => {
                let user = (await firebase.firestore().collection("users").where("uuid", "==", companyUser.userId).get()).docs[0].data();
                users.push(user);
            });

            return users;
       },
       async filterUsers(){
           if(this.userSearch !==''){
               this.users = this.users.filter(k=> k.displayName.toLowerCase().includes(this.userSearch.toLowerCase()) ||  k.department.toLowerCase().includes(this.userSearch.toLowerCase()) ||  k.email.toLowerCase().includes(this.userSearch.toLowerCase()) ||  k.officeLocation.toLowerCase().includes(this.userSearch.toLowerCase())) ;
           } else {
               this.users = await this.getUsers();
           }
       },
       selectedUser(user){
           this.users.map(element => {
                element.selected = element.uuid === user.uuid;
           });
           this.event.users = this.users.filter(k=> k.selected === true);
           this.changedDataExportData()
       },
       isEmpty (obj) {
            for (let key in obj) {
                if (obj.hasOwnProperty(key)) {
                return false
                }
            }
            return true
        },
        changedDataExportData() {
          this.$emit("inputValuesData", this.event);
        },
    },
    async created(){
        let authenticatedUser = JSON.parse(localStorage.getItem('authenticatedUser'));
        const companyId = authenticatedUser.companyId;
        let users = [];
         let companyUserSnap = await firebase
          .firestore()
          .collection("company_user")
          .where("companyId", "==", companyId)
          .get();

          let companyUsers = companyUserSnap.docs.map( doc => doc.data())
          companyUsers.forEach(async companyUser => {
              let user = (await firebase.firestore().collection("users").where("uuid", "==", companyUser.userId).get()).docs[0].data();
              users.push(user);
          });
        this.users = users;
        let localStorageEvent = JSON.parse(localStorage.getItem('event'))
        this.event = { 
            ...localStorageEvent,
            location: `${localStorageEvent.veneus.name} , ${localStorageEvent.veneus.vicinity}`,
            amount: this.event.amount,
            date: this.event.date,
            hour: this.event.hour,
            attendeeCount: this.event.attendeeCount,
            users
        };
    }
}
</script>

<style scoped>
.btn-y{
    height: 40px;
    margin-bottom: 12px;
}
.autocomplete {
    border: 1px solid #eee;
    font-size: 18px;
    height: 40px;
    padding: 0 10px;
    width: 100%;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80% !important;
}
ul.employes{

}
ul.employes li .employe-card{

}
ul.employes li .employe-card img {
    
}
ul.employes li .employe-card strong {
    
}
ul.employes li .employe-card span {
    
}
ul.employes li .employe-location {
    
}
ul.employes li .employe-location span{
    
}
.title-center{
}
.list-group li{
    cursor: pointer;
    border:2px solid white;
}

.list-group li:hover{
    cursor: pointer;
    border:2px solid blue;
}

.list-group li.selectedVenuesItem{
    cursor: pointer;
    border:2px solid blue;
}

.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    /* background: url("../../assets/images/alert@2x.png"); */
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.home-title2{
    color: #000;
    font-weight: bold;
    font-size: 24px;
}
.home-title3{
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

.home-title4{
    color: #A7A6A6;
    font-size: 19px;
}

.title-center{
    width: 100%;
    /* margin-left: 5%; */
    /* margin-top: 2%; */
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.p-desc{
    font-size: 23px;
    color: #000;
    font-family: "HelveticaNeueLt";
    display: block;
}

.wh-p-title{
    font-family: "HelveticaNeueBd";
    font-size: 35px;
    color: #000;
    font-weight: bold;
}

.fullBtn{
    width: 100%;
}

.activities {
    display: block;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;     /* Get the row full width */
}

.activities li {
    display: inline-block; /* Get all images to show in a row */
    width: 15%;            /* Show 4 logos per row */
    text-align: center;    /* Centre align the images */
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 960px) and (min-width: 501px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 500px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* On small screens, show one logo per row */
}

.activitiesBtn{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid;
}

.contiuneBtn{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-size: 18px;
    border-radius: 5px;
}

#autocomplete {
    border: 1px solid;
    font-size: 18px;
    height: 40px;
    padding: 0 10px;
    width: 100%;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 20px;
}

.paragraf-letter{
    font-size: 17px;
    color: #000;
    font-family: "HelveticaNeueBd";
}
.rounded-c-2{
    border-radius: 5%;
}
</style>