<template>
    <v-app class="login-page">
        <div class="wrapper">
            <v-container>
                <div class="title-center">
                    <h3 class="wh-p-title mb-3">Choose venue</h3>
                    <!-- getCurrentPosition : {{markerPos}} -->
                    <p class="paragraf-letter">Please contact the venue directly to confirm, cost, payment, date and time available.</p>
                </div>
            </v-container>

             <v-container>
                <b-row>
                    <b-col col class="d-none d-sm-block"> 
                    <b-alert v-bind:show="!this.isEmpty(errorMessage)" 
                        dismissible variant="danger" 
                        class="alert-text" 
                        @dismissed="errorMessage=''">
                        {{errorMessage}}
                    </b-alert>
                    <loader v-if="isMapLoading" />
                    <div v-else >
                        <div style="overflow:hide">
                            <input v-model="search"  class="autocomplete" placeholder="Search" />
                            <v-btn  @click="findNearbySearch" color="primary">Search</v-btn>
                        </div>
                        <VuePerfectScrollbar class="scrollbar-container" style="height:600px">
                            <loader v-if="search && searchLoading" />
                            <ul class="list-group list-group-flush pt-2 pb-2">
                                
                                <li  @click="getDetail(place)" :key="place.place_id" v-for="(place) in places"  :class="['list-group-item','mb-2', (place.place_id === selectedPlaceId ? 'selectedVenuesItem' : '')]">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="widget-heading"><strong>{{place.name}}</strong> </div>
                                                <div class="widget-subheading">
                                                    <span><rate :length="5" :value="place.rating" :readonly="true" /> </span> <br>
                                                    <span>{{place.vicinity}} </span><br>
                                                    <span> {{place.opening_hours ? place.opening_hours.open_now ? "Open Now": "Closed" :"Closed"}}  </span><br>
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <img v-if="place.photos" width="100" class="rounded-c-2" :src="getImageUrl(place.photos[0].photo_reference)" alt="">
                                                <img v-else width="100" class="rounded-c-2" src="https://archive.org/download/no-photo-available/no-photo-available.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </VuePerfectScrollbar>
                    </div>
                    </b-col>
                    <b-col col sm="12" lg="7">
                        <div v-if="!isMapLoading && places">
                                <gmaps-map
                                    :options="selectedPlaceId !== 'undefined' ? selectedOption : mapOptions"
                                    @mounted="findNearbySearch" 
                                    style="height:600px">
                                        <div v-if="places" >
                                            <gmaps-marker
                                                @click="()=> getDetail(item)"
                                                v-for="(item, i) in places"
                                                :key="i"
                                                :options="Object.assign({ animation: 'DROP', icon: item.selected ? selectedMapIcon : defaultMapIcon }, { position: { lat: item.geometry.location.lat, lng: item.geometry.location.lng} })"
                                            />
                                        </div>
                                        <gmaps-marker :options ="currentPositonOptions"/>
                                </gmaps-map>
                        </div>
                      
                    </b-col>
                </b-row>
             </v-container>
       
        </div>
        
    </v-app>
</template>

<script>

import { gmapsMap, gmapsMarker } from 'x5-gmaps'
import axios from 'axios';
import Loader from '../../components/Loader.vue';
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
export default {
    components: { gmapsMap, gmapsMarker, Loader, VuePerfectScrollbar},
    data: () => ({
        isLoading: false,
        searchLoading: false,
        errorMessage: null,
        successMessage: null,
        user:{},
        show: false,
        showInfo: false,
        autocomplete: null,
        places: [],
        map: null,
        markerPos: null,
        isMapLoading: false,
        currentPositonOptions: null,
        defaultMapIcon1: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/parking_lot_maps.png',
        defaultMapIcon: 'https://mts.googleapis.com/vt/icon/name=icons/spotlight/spotlight-waypoint-blue.png',
        selectedMapIcon: 'http://maps.google.com/mapfiles/kml/paddle/ylw-stars.png',
        currentPositonIcon:'https://www.robotwoods.com/dev/misc/bluecircle.png',
        selectedPlaceId: null,
        search: null,
        selectedOption:{ 
            zoom:12,
            fullscreenControl: false,
            mapTypeControl: false,
            rotateControl: false,
            scaleControl: false,
            streetViewControl: false,
            zoomControl: true
        }
    }),

    methods:{
        isEmpty (obj) {
            for (let key in obj) {
                if (obj.hasOwnProperty(key)) {
                return false
                }
            }
            return true
        },
       toggleInfoWindow (context) {
            this.infoWIndowContext = context
            this.showInfo = true
       },
       infoClicked(context) {
         console.log(context)
       },
       ready(map) {
            this.map = map
            // this.$GMaps().then((maps) => {
            //     this.places = new maps.places.PlacesService(map);
            //     this.autocomplete = new maps.places.Autocomplete(this.$refs.autocomplete);
            //     this.autocomplete.addListener('place_changed', this.update);
            // })
       },
       update() {
            const place = this.autocomplete.getPlace();
            if (place.geometry) {
                this.map.panTo(place.geometry.location)
                console.log(place.geometry.location);
                this.markerPos = place.geometry.location
            }
        },
        getCurrentPosition() {
            navigator.geolocation.getCurrentPosition(
                position => {
                    this.markerPos =  Object.assign({}, 
                    { 
                         lat: position.coords.latitude, lng: position.coords.longitude 
                    }); 
                    this.currentPositonOptions =  Object.assign({ icon: this.currentPositonIcon}, 
                    { 
                         position:{
                             lat: position.coords.latitude, lng: position.coords.longitude
                         } 
                    }); 
                },
                error => {
                    console.log("Error getting location");
                }
            );
       },
      findNearbySearch() {
          let event = JSON.parse(localStorage.getItem('event'));
          const selectedActivities = event.activities.map(k=> k.name);
          let keywords = selectedActivities.join('|');
          if(this.search){
              keywords = this.search;
              this.searchLoading = true;
          }

          if(this.markerPos){
                const URL = `https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/nearbysearch/json?rankby = distance&keyword=${keywords}&location=${
                this.markerPos.lat},${this.markerPos.lng}&radius=${10 * 1000}&key=AIzaSyAAz6AT8zPEXWe9iL3vKqCgpHv7LCjV8Bo`;
                // const URL = `https://cors-anywhere.herokuapp.com/https://maps.googleapis.com/maps/api/place/nearbysearch/json?rankby = distance&keyword=${keywords}&location=${
                //         this.markerPos.lat},${this.markerPos.lng}&radius=${10 * 1000}&key=AIzaSyAAz6AT8zPEXWe9iL3vKqCgpHv7LCjV8Bo`;
                axios.get(URL).then(response => {
                    console.log(response);
                    this.places = response.data.results;
                    this.isMapLoading = false;
                    this.searchLoading = false;
                }).catch(error => {
                    this.isMapLoading = false;
                    this.searchLoading = false;
                    this.errorMessage = error;
                    console.log(error.message);     
                });
          } else{
              this.errorMessage = "your location information could not be found";
              this.isMapLoading = false;
              this.searchLoading = false;
          }
        
    },
    getImageUrl(reference){
        return `https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=${reference}&key=AIzaSyAAz6AT8zPEXWe9iL3vKqCgpHv7LCjV8Bo`
    },
    getDetail(place){
        const position = place.geometry.location;
        this.selectedPlaceId = place.place_id;
        this.places.map(item => {
            item.selected = this.selectedPlaceId ? this.selectedPlaceId === item.place_id ? true : false : false;
            item.order = this.selectedPlaceId ? this.selectedPlaceId === item.place_id ? 1 : 0 : 0;
            return place;            
        });

        this.places.sort(function(a, b){return b.order-a.order})
        const currentLocation = Object.assign({}, { lat: position.lat, lng: position.lng  }); 
        this.selectedOption = { ...this.selectedOption, center : currentLocation}
        this.changedDataExportData(place);
    },
    centerChanged(center) {
        this.center = center.toJSON()
    },
    changedDataExportData(data) {
        this.$emit("inputValuesData", data);
    },
    },
    mounted(){},
    created(){
       this.selectedPlaceId = decodeURIComponent(this.$route.query.place_id);
       this.isMapLoading = true
       this.getCurrentPosition();
        setTimeout(() => {
            this.findNearbySearch();
        }, 3000);
        this.places.map(place => {
            place.selected = this.selectedPlaceId ? this.selectedPlaceId === place.place_id ? true : false : false;
            return place;            
        });
    },
    computed: {
        mapOptions(){
            const opt = {
                    zoom: 10,
                    fullscreenControl: false,
                    mapTypeControl: false,
                    rotateControl: false,
                    scaleControl: false,
                    streetViewControl: false,
                    zoomControl: true
                 };
            return { ...opt, center: this.markerPos }
        }
       
    },
    beforeCreate(){
        
    }
    
}
</script>

<style scoped>
.list-group li{
    cursor: pointer;
    border:2px solid white;
}

.list-group li:hover{
    cursor: pointer;
    border:2px solid blue;
}

.list-group li.selectedVenuesItem{
    cursor: pointer;
    border:2px solid blue;
}

.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    /* background: url("../../assets/images/alert@2x.png"); */
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.home-title2{
    color: #000;
    font-weight: bold;
    font-size: 24px;
}
.home-title3{
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

.home-title4{
    color: #A7A6A6;
    font-size: 19px;
}

.title-center{
    width: 100%;
    /* margin-left: 5%; */
    /* margin-top: 2%; */
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.p-desc{
    font-size: 23px;
    color: #000;
    font-family: "HelveticaNeueLt";
    display: block;
}

.wh-p-title{
    font-family: "HelveticaNeueBd";
    font-size: 35px;
    color: #000;
    font-weight: bold;
}

.fullBtn{
    width: 100%;
}

.activities {
    display: block;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;     /* Get the row full width */
}

.activities li {
    display: inline-block; /* Get all images to show in a row */
    width: 15%;            /* Show 4 logos per row */
    text-align: center;    /* Centre align the images */
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 960px) and (min-width: 501px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 500px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* On small screens, show one logo per row */
}

.activitiesBtn{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid;
}

.contiuneBtn{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-size: 18px;
    border-radius: 5px;
}

.autocomplete {
    border: 1px solid;
    font-size: 18px;
    height: 40px;
    padding: 0 10px;
    width: 100%;
    z-index: 1;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 70% !important;
}

.paragraf-letter{
    font-size: 17px;
    color: #000;
    font-family: "HelveticaNeueBd";
}
.rounded-c-2{
    border-radius: 5%;
}
</style>