<template>
    <v-app class="login-page">
        <div class="wrapper">
            <v-container>
                <b-row>
                    <b-col col sm="12" lg="12">
                        <div class="title-center">
                            <h3  class="wh-p-title mb-3 " style="float: left">Your have been invited to go to this event</h3>
                        </div>
                        <br>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col col sm="12" lg="4">
                        <div class="title-center">
                            <loader v-if="isLoading" />
                            <div class="mt-5" v-else>
                                <EventWithAction v-if="event" :showActionButton="false" :event="event" />
                                <NotFound v-else />
                            </div>
                        </div>
                    </b-col>
                    <b-col col sm="12" lg="8">
                         <v-container>
                            <div class="title-center">
                                 <h1  class="wh-p-title mt-5 mb-4 " style="float: left">Credit Card Information</h1>
                                <v-flex xs12 md8>
                                    <b-form-input class="basicInput" v-model="user.holderName" placeholder="Card Holder Name"></b-form-input>
                                </v-flex>
                                <v-flex xs12 md8>
                                    <stripe-element-card
                                        ref="elementRef"
                                        :hidePostalCode="hidePostalCode"
                                        :pk="publishableKey"
                                        @token="tokenCreated"
                                        @element-change="setValidationError"
                                    />  
                                </v-flex>
                                <v-flex xs12 md8>
                                    <b-form-input class="basicInput" v-model="user.location" placeholder="Location"></b-form-input>
                                </v-flex>
                                <v-flex xs12 md8>
                                    <b-form-input class="basicInput" v-model="user.streetAddress" placeholder="Street address"></b-form-input>                            
                                </v-flex>
                                <v-flex xs12 md8>
                                     <div class="divider"></div>
                                    <div class="mt-5" style="text-align:center">
                                        <button :disabled="isDisabled" lg="4" @click="submit" class="btn btn-x btn-primary pt-2 pb-2 pl-4 pr-4 mr-2">
                                            Pay and confirm
                                        </button> 
                                    </div>

                                </v-flex>
                                
                            </div>
                        </v-container>
                    </b-col>
                </b-row>
            </v-container>
        </div>
        
    </v-app>
</template>

<script>
import firebase from 'firebase';
import NotFound from "../../layout/components/NotFound.vue";
import EventWithAction from './components/EventWithAction.vue';
import Loader from '../../components/Loader.vue';
import { StripeElementCard } from '@vue-stripe/vue-stripe';
export default {
    components: {
        NotFound,
        Loader,
        EventWithAction,
        StripeElementCard
    },
    data: () => ({
        isLoading: false,
        errorMessage: null,
        successMessage: null,
        errorMessages: [],
        event: null,
        hidePostalCode: true,
        user:{
            holderName: null,
            location: null,
            streetAddress: null
        },
        validFormLogin: true,
        lineItems: [
            {
                price: 'price_1JC8ERIY5Pk3tOD4tBZs8hz8', // The id of the recurring price you created in your Stripe dashboard
                quantity: 1,
            },
        ],
       publishableKey:'pk_test_51I5bk4IY5Pk3tOD4ezS4jjQzznGp2x0yFtMWygl4xRYd1o0yWe3TqB11LZieYoy5ZewDnpWcwNznA7B8jwZGGih800TOVFKW1Z',
       stripe: null,
       stripeValidationError: null,
    }),
    methods:{
        submit () {
            this.$refs.elementRef.submit();
        },
        tokenCreated (token) {
            console.log(token);
            var stripeObject = {
                amount: this.event.amount,
                source: token
            };
            // this.saveDataToFireStore(stripeObject);
            this.savePaymentDataToFireStore(stripeObject);
        },
        setValidationError(event) {
            this.stripeValidationError = event.error ? event.error.message : null;
        },
    },
    async created(){
        const eventId = this.$route.params.id;
        this.isLoading = true;
        let eventSnap = await firebase
          .firestore()
          .collection("event")
          .doc(eventId)
          .get();
        this.event = { ...eventSnap.data(), id: eventSnap.id};
        this.isLoading = false;
    },
    computed:{
        isDisabled(){
            return !this.user.holderName || !this.user.location || this.stripeValidationError;
        }
    }
}
</script>

<style scoped>
.basicInput{
    width: 100% !important;
    margin: 20px 0 !important;
    /* box-shadow: 0 0 5pt 0.6pt #d3d3d3 !important; */
    box-shadow: 0 0 5pt 0.6pt #d3d3d3 !important;
    border: 0 !important;
    color: #32325d;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    height: 37px;
    line-height: 37px;
}
.basicInput:focus {
  box-shadow: 0 0 5pt 2pt #D3D3D3;
  outline-width: 0px;
}

.StripeElement{
    box-shadow: 0 0 5pt 0.6pt #d3d3d3 !important;
}
#stripe-element-mount-point{
    box-shadow: 0 0 5pt 0.6pt #d3d3d3 !important;
    width: 100% !important;
    margin: 23px 11px 0px 11px !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #32325d;
  opacity: 0.6; /* Firefox */
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #32325d;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #32325d;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}
/*  */
.right{
    float:right !important
}
.left{
    float:left !important
}
.eventUserImg{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    /* background: url("../../assets/images/alert@2x.png"); */
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.home-title2{
    color: #000;
    font-weight: bold;
    font-size: 24px;
}
.home-title3{
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

.home-title4{
    color: #A7A6A6;
    font-size: 19px;
}

.title-center{
    width: 100%;
    /* margin-left: 5%; */
    /* margin-top: 2%; */
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.p-desc{
    font-size: 23px;
    color: #000;
    font-family: "HelveticaNeueLt";
    display: block;
}

.wh-p-title{
    font-family: "HelveticaNeueBd";
    font-size: 35px;
    color: #000;
    font-weight: bold;
}

h1.wh-p-title{
    font-family: "HelveticaNeueBd";
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.fullBtn{
    width: 100%;
}

.activities {
    display: block;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;     /* Get the row full width */
}

.activities li {
    display: inline-block; /* Get all images to show in a row */
    width: 15%;            /* Show 4 logos per row */
    text-align: center;    /* Centre align the images */
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 960px) and (min-width: 501px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 500px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* On small screens, show one logo per row */
}

.activitiesBtn{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid;
}

.outlined{
    background-color: white  !important;
    color: black !important;
    border: 2px solid !important;
    font-weight: bold !important;
}

</style>