<template>
    <v-app class="login-page">
        <div class="wrapper">
            <v-container>
                <b-row>
                    <b-col col sm="12" lg="12">
                        <div class="title-center">
                            <h3  class="wh-p-title mb-3 " style="float: left">Your events</h3>
                            <v-btn color="primary" style="float: right"  @click="createEvent">Create Event</v-btn>
                        </div>
                        <br>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col col sm="12" lg="12">
                        <div class="title-center">
                            <loader v-if="isLoading" />
                            <div v-else>
                                <EventList v-if="events" :events ="events" />
                                <NotFound v-else />
                            </div>
                        </div>
                    </b-col>
                </b-row>
            </v-container>
            <v-container>
                <b-row>
                    <b-col col sm="12" lg="12">
                        <div class="title-center">
                            <h3 class="wh-p-title mb-3" style="float:left">Explore all events</h3>
                            <!-- <a href=""  style="float:right">See all</a> -->
                        </div>
                        <br>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col col sm="12" lg="12">
                        <loader v-if="isLoading" />
                        <div v-else>
                            <EventList v-if="events" :events ="events" />
                            <NotFound v-else />
                        </div>
                        
                    </b-col>
                </b-row>
            </v-container>
        </div>
        
    </v-app>
</template>

<script>
import firebase from 'firebase';
import NotFound from "../../layout/components/NotFound.vue";
import EventList from './components/EventList.vue';
import Loader from '../../components/Loader.vue';
export default {
    components: {
        EventList,
        NotFound,
        Loader
    },
    data: () => ({
        isLoading: false,
        errorMessage: null,
        successMessage: null,
        errorMessages: [],
        events: null
    }),

    methods:{
        createEvent(){
            this.$router.push('/user/events-create')
        }
    },
    async created(){
        this.isLoading = true;
        let eventSnap = await firebase
          .firestore()
          .collection("event")
          .get();
        this.events = eventSnap.docs.map( doc => {return {...doc.data(), id: doc.id}});
        this.isLoading = false;
    },
}
</script>

<style scoped>
.eventUserImg{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    /* background: url("../../assets/images/alert@2x.png"); */
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.home-title2{
    color: #000;
    font-weight: bold;
    font-size: 24px;
}
.home-title3{
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

.home-title4{
    color: #A7A6A6;
    font-size: 19px;
}

.title-center{
    width: 100%;
    /* margin-left: 5%; */
    /* margin-top: 2%; */
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.p-desc{
    font-size: 23px;
    color: #000;
    font-family: "HelveticaNeueLt";
    display: block;
}

.wh-p-title{
    font-family: "HelveticaNeueBd";
    font-size: 35px;
    color: #000;
    font-weight: bold;
}

.fullBtn{
    width: 100%;
}

.activities {
    display: block;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;     /* Get the row full width */
}

.activities li {
    display: inline-block; /* Get all images to show in a row */
    width: 15%;            /* Show 4 logos per row */
    text-align: center;    /* Centre align the images */
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 960px) and (min-width: 501px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 500px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* On small screens, show one logo per row */
}

.activitiesBtn{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid;
}

.outlined{
    background-color: white  !important;
    color: black !important;
    border: 2px solid !important;
    font-weight: bold !important;
}

</style>