<template>
    <v-app class="login-page">
        <div class="wrapper">
            <v-container>
                
               <v-stepper  v-model="e6" vertical>
                <v-stepper-step :complete="e6 > 1" step="1">Choose a name for event </v-stepper-step>
                <v-stepper-content step="1">
                     <div v-if="e6 === 1">
                        <CreateEventStepOne @inputValuesData="getEventName"/>
                        <v-btn :disabled="!event || (event && !event.name)" color="primary" @click="setEventName">Continue</v-btn>
                        <v-btn flat  @click="redirectEvents">Cancel</v-btn>
                     </div>
                </v-stepper-content>

                <v-stepper-step :complete="e6 > 2" step="2">Choose Activity </v-stepper-step>
                <v-stepper-content step="2">
                     <div v-if="e6 === 2">
                        <CreateEventStepOne2 @inputValuesData="getActivities"/>
                        <v-btn  color="primary" @click="setActivies">Continue</v-btn>
                        <v-btn flat @click="e6 = 1">Cancel</v-btn>
                     </div>
                </v-stepper-content>

                <v-stepper-step :complete="e6 > 3" step="3">Choose venue</v-stepper-step>
                <v-stepper-content step="3">
                     <div v-if="e6 === 3">
                        <CreateEventStepTwo @inputValuesData="getVeneus"/>
                        <v-btn :disabled="!event || (event && !event.veneus)" color="primary" @click="setVeneus">Continue</v-btn>
                        <v-btn flat @click="e6 = 2">Cancel</v-btn>
                     </div>
                </v-stepper-content>

                <v-stepper-step :complete="e6 > 4" step="4">Confirm venue</v-stepper-step>
                <v-stepper-content step="4">
                   <div v-if="e6 === 4">
                        <CreateEventStepThree @inputValuesData="getVeneusDetail" />
                        <v-btn :disabled="!event || (event && !event.veneus)" color="primary" @click="confirmVeneus">Continue</v-btn>
                        <v-btn @click="e6 = 3" flat>Cancel</v-btn>
                   </div>
                </v-stepper-content>

                <v-stepper-step step="5">Create event</v-stepper-step>
                <v-stepper-content step="5">
                    <b-alert v-bind:show="!this.isEmpty(errorMessage)" 
                        dismissible variant="danger" 
                        class="alert-text" 
                        @dismissed="errorMessage=''">
                        {{errorMessage}}
                    </b-alert>

                    <b-alert v-bind:show="!this.isEmpty(successMessage)" 
                        dismissible variant="success" 
                        @dismissed="successMessage=''">
                        {{successMessage}}
                    </b-alert>
                    <div v-if="e6 === 5">
                        <CreateEventStepFour @inputValuesData="getEventDetail" />
                        <loader v-if="isLoading" /> <br>
                        <v-btn :disabled="!event.amount || !event.attendeeCount || !event.createDate || event.users.length ===0" color="primary" @click="createEvent">Create Event</v-btn>
                        <v-btn @click="e6 = 4" flat>Cancel</v-btn>
                    </div>
                </v-stepper-content>
             </v-stepper>
            </v-container>
        </div>
        
    </v-app>
</template>

<script>
import CreateEventStepOne from './CreateEventStepOne.vue';
import CreateEventStepOne2 from './CreateEventStepOne2.vue';
import CreateEventStepTwo from './CreateEventStepTwo.vue';
import CreateEventStepThree from './CreateEventStepThree.vue';
import CreateEventStepFour from './CreateEventStepFour.vue';
import Loader from "../../components/Loader.vue";
import firebase from 'firebase';
export default {
    components: {
        CreateEventStepOne,
        CreateEventStepOne2,
        CreateEventStepTwo,
        CreateEventStepThree,
        CreateEventStepFour,
        Loader
    },
    data: () => ({
        isLoading: false,
        errorMessage: null,
        successMessage: null,
        errorMessages: [],
        event: null,
        e6:1
    }),

    methods:{
        isEmpty (obj) {
            for (let key in obj) {
                if (obj.hasOwnProperty(key)) {
                return false
                }
            }
            return true
        },
        getEventName(data){
           this.event = { name: data}
        },
        setEventName(){
            this.e6 = 2;
            localStorage.setItem('event', 
                JSON.stringify(this.event)
            );
        },
        getActivities(activities){
            this.event = { ...this.event, activities}
        },
        setActivies(){
            this.e6 = 3;
            localStorage.setItem('event', 
                JSON.stringify(this.event)
            );
        },
        getVeneus(veneus){
            this.event = { ...this.event, veneus}
        },
        setVeneus(){
            this.e6 = 4;
            localStorage.setItem('event', 
                JSON.stringify(this.event)
            );
        },
        getVeneusDetail(veneus){
            console.log(veneus);
            this.event = { ...this.event, veneus}
        },
        confirmVeneus(){
            this.e6 = 5;
            localStorage.setItem('event', 
                JSON.stringify(this.event)
            );
        },
        getEventDetail(eventDetail){
            let event = JSON.parse(localStorage.getItem('event'));
            this.event = {
                        ...event, 
                        createDate: `${eventDetail.date} ${eventDetail.hour}`,
                        amount: eventDetail.amount,
                        currency : 'GBP',
                        symbol : '£',
                        attendeeCount: eventDetail.attendeeCount,
                        users: eventDetail.users
            };

            localStorage.setItem('event', 
                JSON.stringify(
                    {
                        ...event, 
                        createDate: `${eventDetail.date} ${eventDetail.hour}`,
                        amount: eventDetail.amount,
                        currency : 'GBP',
                        symbol : '£',
                        attendeeCount: eventDetail.attendeeCount,
                        users: eventDetail.users
                    }
                )
            );
        },
        createEvent() {

            this.isLoading = true;
            let event = JSON.parse(localStorage.getItem('event'));
            let authenticatedUser = JSON.parse(localStorage.getItem('authenticatedUser'));
            
            this.$store
                .dispatch("event/create", { ...event,  companyId: authenticatedUser.companyId })
                .then((response) => {
                    let responseData = response.data;
                    if (responseData.code === "00" && responseData.status ==='APPROVED') {
                       this.successMessage = "Event successfully created";
                        setTimeout(() => {
                            this.$router.push("/user/events");
                        }, 2000);
                        
                    } else {
                        this.errorMessage = 'event creation failed';
                    }
                    
                    this.isLoading = false;
                })
                .catch(message => {
                    console.log(message);
                    this.errorMessage = message;
                    this.isLoading = false;
                });
        },
        // async createEvent(){
        //     try {
        //         this.isLoading = true;
        //         let event = JSON.parse(localStorage.getItem('event'));
        //         let authenticatedUser = JSON.parse(localStorage.getItem('authenticatedUser'));
        //         let response = await firebase
        //             .firestore()
        //             .collection("event")
        //             .add({ ...event, 
        //                  userId: authenticatedUser.uuid,
        //                  companyId: authenticatedUser.companyId
        //             });

        //         if(response && response.id){
        //             localStorage.removeItem('event');
        //             this.isLoading = false;
        //             this.successMessage = "Event successfully created";
        //             setTimeout(() => {
        //                 this.$router.push("/user/events");
        //             }, 2000);
        //         }
        //     } catch (error) {
        //         this.isLoading = false;
        //         this.errorMessage = error;
        //     }
        // },
        redirectEvents(){
            this.$router.push("/user/events");
        }
    },
    created(){
    },
}
</script>

<style scoped>

.v-text-field >>> label {
    font-size: 19px;
    font-weight: bold;
    color: #008FC7;
    opacity: 0.6;
    margin-bottom: 40px;
}

.v-input >>> input {
    font-size: 18px;
    max-height: 40px;
    margin: 10px;
}

.login-page {
    /* background-image: linear-gradient(to bottom, white, white 50%, rgba(15, 48, 110, 0.05) 50%, rgba(15, 48, 110, 0.00)); */
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    overflow: hidden;
    width: 100%;
    margin: 10px 0;
}
.wrapper .wrapper-bg {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: -1;
}
.wrapper .header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.wrapper .content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.wrapper .content .layer-bg {
    width: 500px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -80px;
}
.wrapper .content .confetti-bg {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 50px;
    margin-left: -250px;
}
.wrapper .content .content-title {
    width: 70%;
    z-index: 11;
}
.wrapper .content .content-title h3 {
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    color: #008FC7;
}
.wrapper .content .content-title h3 span {
    color: #008FC7;
}

.wrapper .content .box {
    width: 100%;
    max-width: 600px;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.wrapper .content .box .errorMessage {
    margin-top: 5px;
    font-size: 12px !important;
    color: #ff6d72;
    font-weight: bold;
    display: block;
    /* background: url("../../assets/images/alert@2x.png"); */
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: inherit;
    padding-left: 20px;
}

.wrapper .content .box .box-header {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .content .box .box-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.wrapper .content .box .box-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.wrapper .content .box .box-form label {
    opacity: 0.6;
    font-family: HelveticaNeu, 'sans-serif';
    font-size: 15px;
    font-weight: bold;
}
.wrapper .content .box .box-form label.error {
    color: #eb4c4c;
}
.wrapper .content .box .box-form .form-control {
    width: 100%;
    height: 40px;
    border-radius: 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrapper .content .box .box-form .g-recaptcha {
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.wrapper .content .box .box-form .g-recaptcha.error {
    border: 2px solid #eb4c4c;
    border-radius: 3px;
}
.wrapper .content .box .box-form .submit_button {
    height: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color:#008FC7!important;
    border-color:#008FC7!important;
    cursor: pointer;
}

.wrapper .content .box .box-form .loginBtn {
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

.wrapper .content .box .box-form .submit_button:hover {
    color: #fff;
    background-color:#008FC7!important;
    border-color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #008FC7!important;
}

.wrapper .content .box .box-form .forgotPassTxt:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    
    .wrapper .content .content-title {
        width: 100%;
        text-align: center;
        z-index: 11;
    }
    .wrapper .content .content-title h3{
        font-size: 24px;
    }
    .wrapper .content .layer-bg {
        top: 30px;
    }
    .wrapper .content .content-bg {
        display: none;
    }
    .wrapper .content .box {
        padding: 30px 20px;
    }
    .wrapper .content .confetti-bg {
        top: 10px;
        width: 430px;
    }
}

.confirmation-text{
    font-size: 14px;
}

.alert-danger {
    background-color: rgba(235, 76, 76, 0.1);
}

.alert-text{
    color:#eb4c4c;
    font-size: 12px;
    margin-bottom: 40px;
}

.green {
    background-color: #008FC7!important;
    border-color: #008FC7!important;
}

.home-title{
    color: #000;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.home-title2{
    color: #000;
    font-weight: bold;
    font-size: 24px;
}
.home-title3{
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

.home-title4{
    color: #A7A6A6;
    font-size: 19px;
}

.title-center{
    width: 100%;
    /* margin-left: 5%; */
    /* margin-top: 2%; */
}

.btn-x{
    color: #fff;
    background-color: #008FC7;
    border-color: #008FC7;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
}

.p-desc{
    font-size: 23px;
    color: #000;
    font-family: "HelveticaNeueLt";
    display: block;
}

.wh-p-title{
    font-family: "HelveticaNeueBd";
    font-size: 35px;
    color: #000;
    font-weight: bold;
}

.fullBtn{
    width: 100%;
}

.activities {
    display: block;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;     /* Get the row full width */
}

.activities li {
    display: inline-block; /* Get all images to show in a row */
    width: 15%;            /* Show 4 logos per row */
    text-align: center;    /* Centre align the images */
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 960px) and (min-width: 501px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 500px) {
    .activities li { width: 100%; margin-left: 0;margin-top: 10px;
    margin-bottom: 10px; } /* On small screens, show one logo per row */
}

.activitiesBtn{
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border: 2px solid;
}

.outlined{
    background-color: white  !important;
    color: black !important;
    border: 2px solid !important;
    font-weight: bold !important;
}

</style>